@charset "UTF-8";

cite, dfn {
  font-style: inherit;
}

q {
  quotes: '"' '"' "'" "'";
}

blockquote {
  overflow: hidden;
  margin: 1em 0;
  padding: 0 40px;
}

strong.selflink {
  font-weight: 700;
}

small {
  font-size: 85%;
}

.mw-body-content {
  sub, sup {
    font-size: 80%;
  }
}

span.reference {
  font-size: 80%;
}

.ns-talk .mw-body-content dd {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

#interwiki-completelist {
  font-weight: bold;
}

.client-js {
  .mw-special-Watchlist #watchlist-message, .NavFrame.collapsed .NavContent, .collapsible:not(.mw-made-collapsible).collapsed > tbody > tr:not(:first-child) {
    display: none;
  }
}

.mw-rcfilters-enabled .mw-specialpage-summary {
  margin-top: 1em;
}

#editpage-specialchars {
  display: none;
}

body.action-info .mw-body-content :target {
  background-color: #def;
  background-color: rgba(0, 127, 255, 0.133);
}

.citation {
  word-wrap: break-word;
  &:target {
    background-color: #def;
    background-color: rgba(0, 127, 255, 0.133);
  }
}

@media screen, handheld {
  .citation .printonly {
    display: none;
  }
}

ol.references {
  font-size: 90%;
  margin-bottom: 0.5em;
}

div.reflist {
  font-size: 90%;
  margin-bottom: 0.5em;
  ol.references {
    font-size: 100%;
    margin-bottom: 0;
    list-style-type: inherit;
  }
}

span.brokenref {
  display: none;
}

div.columns {
  margin-top: 0.3em;
  dl, ol, ul {
    margin-top: 0;
  }
}

.nocolbreak {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

div.columns {
  li, dd dd {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
  }
}

.hlist {
  dl, ol, ul {
    margin: 0;
    padding: 0;
  }
  dd, dt, li {
    margin: 0;
    display: inline;
  }
  &.inline {
    display: inline;
    dl, ol, ul {
      display: inline;
    }
  }
  dl {
    dl, ol, ul {
      display: inline;
    }
  }
  ol {
    dl, ol, ul {
      display: inline;
    }
  }
  ul {
    dl, ol, ul {
      display: inline;
    }
  }
  .mw-empty-li {
    display: none;
  }
  dt:after {
    content: ": ";
  }
  dd:after, li:after {
    content: " · ";
    font-weight: bold;
  }
  dd:last-child:after, dt:last-child:after, li:last-child:after {
    content: none;
  }
  dd {
    dd:first-child:before, dt:first-child:before, li:first-child:before {
      content: " (";
      font-weight: normal;
    }
  }
  dt {
    dd:first-child:before, dt:first-child:before, li:first-child:before {
      content: " (";
      font-weight: normal;
    }
  }
  li {
    dd:first-child:before, dt:first-child:before, li:first-child:before {
      content: " (";
      font-weight: normal;
    }
  }
  dd {
    dd:last-child:after, dt:last-child:after, li:last-child:after {
      content: ")";
      font-weight: normal;
    }
  }
  dt {
    dd:last-child:after, dt:last-child:after, li:last-child:after {
      content: ")";
      font-weight: normal;
    }
  }
  li {
    dd:last-child:after, dt:last-child:after, li:last-child:after {
      content: ")";
      font-weight: normal;
    }
  }
  ol {
    counter-reset: listitem;
    > li {
      counter-increment: listitem;
      &:before {
        content: " " counter(listitem) " ";
      }
    }
  }
  dd ol > li:first-child:before, dt ol > li:first-child:before, li ol > li:first-child:before {
    content: " (" counter(listitem) " ";
  }
}

.plainlist {
  ol, ul {
    line-height: inherit;
    list-style: none none;
    margin: 0;
  }
  ol li, ul li {
    margin-bottom: 0;
  }
}

.navbox {
  box-sizing: border-box;
  border: 1px solid #a2a9b1;
  width: 100%;
  clear: both;
  font-size: 88%;
  text-align: center;
  padding: 1px;
  margin: 1em auto 0;
  .navbox {
    margin-top: 0;
  }
  + .navbox {
    margin-top: -1px;
  }
}

.navbox-inner, .navbox-subgroup {
  width: 100%;
}

.navbox-group, .navbox-title, .navbox-abovebelow {
  padding: 0.25em 1em;
  line-height: 1.5em;
  text-align: center;
}

th.navbox-group {
  white-space: nowrap;
  text-align: right;
}

.navbox, .navbox-subgroup {
  background-color: #fdfdfd;
}

.navbox-list {
  line-height: 1.5em;
  border-color: #fdfdfd;
}

tr + tr > {
  .navbox-abovebelow, .navbox-group, .navbox-image, .navbox-list {
    border-top: 2px solid #fdfdfd;
  }
}

.navbox th, .navbox-title {
  background-color: #ccccff;
}

box-abovebelow, th.navbox-group {
  background-color: #ddddff;
}

.navbox-subgroup {
  .navbox-title {
    background-color: #ddddff;
  }
  .navbox-group, .navbox-abovebelow {
    background-color: #e6e6ff;
  }
}

.navbox-even {
  background-color: #f7f7f7;
}

.navbox-odd {
  background-color: transparent;
}

.navbox {
  .hlist td {
    dl, ol, ul {
      padding: 0.125em 0;
    }
  }
  td.hlist {
    dl, ol, ul {
      padding: 0.125em 0;
    }
  }
}

.navbar {
  display: inline;
  font-size: 88%;
  font-weight: normal;
  ul {
    display: inline;
    white-space: nowrap;
  }
}

.mw-body-content .navbar ul {
  line-height: inherit;
}

.navbar {
  li {
    word-spacing: -0.125em;
  }
  &.mini li abbr[title] {
    font-variant: small-caps;
    border-bottom: none;
    text-decoration: none;
    cursor: inherit;
  }
}

.infobox .navbar {
  font-size: 100%;
}

.navbox .navbar {
  display: block;
  font-size: 100%;
}

.navbox-title .navbar {
  float: left;
  text-align: left;
  margin-right: 0.5em;
}

.collapseButton {
  float: right;
  font-weight: normal;
  margin-left: 0.5em;
  text-align: right;
  width: auto;
}

.mw-parser-output .mw-collapsible-toggle {
  font-weight: normal;
  text-align: right;
  padding-right: 0.2em;
  padding-left: 0.2em;
}

.mw-collapsible-leftside-toggle .mw-collapsible-toggle {
  float: left;
  text-align: left;
}

.infobox {
  border: 1px solid #a2a9b1;
  border-spacing: 3px;
  background-color: #f8f9fa;
  color: black;
  margin: 0.5em 0 0.5em 1em;
  padding: 0.2em;
  float: right;
  clear: right;
  font-size: 88%;
  line-height: 1.5em;
  caption {
    font-size: 125%;
    font-weight: bold;
    padding: 0.2em;
    text-align: center;
  }
  td, th {
    vertical-align: top;
    text-align: left;
  }
  &.bordered {
    border-collapse: collapse;
    td, th {
      border: 1px solid #a2a9b1;
    }
    .borderless {
      td, th {
        border: 0;
      }
    }
  }
  &.sisterproject {
    width: 20em;
    font-size: 90%;
  }
  &.standard-talk {
    border: 1px solid #c0c090;
    background-color: #f8eaba;
    &.bordered {
      td, th {
        border: 1px solid #c0c090;
      }
    }
  }
  &.bordered {
    .mergedtoprow {
      td, th {
        border: 0;
        border-top: 1px solid #a2a9b1;
        border-right: 1px solid #a2a9b1;
      }
    }
    .mergedrow {
      td, th {
        border: 0;
        border-right: 1px solid #a2a9b1;
      }
    }
  }
  &.geography {
    border-collapse: collapse;
    line-height: 1.2em;
    font-size: 90%;
    td, th {
      border-top: 1px solid #a2a9b1;
      padding: 0.4em 0.6em 0.4em 0.6em;
    }
    .mergedtoprow {
      td, th {
        border-top: 1px solid #a2a9b1;
        padding: 0.4em 0.6em 0.2em 0.6em;
      }
    }
    .mergedrow {
      td, th {
        border: 0;
        padding: 0 0.6em 0.2em 0.6em;
      }
    }
    .mergedbottomrow {
      td, th {
        border-top: 0;
        border-bottom: 1px solid #a2a9b1;
        padding: 0 0.6em 0.4em 0.6em;
      }
    }
    .maptable {
      td, th {
        border: 0;
        padding: 0;
      }
    }
  }
}

.wikitable {
  background-color: #f8f9fa;
  color: #222;
  margin: 1em 0;
  border: 1px solid #a2a9b1;
  border-collapse: collapse;
  &.plainrowheaders th[scope=row] {
    font-weight: normal;
    text-align: left;
  }
  td {
    ul, ol, dl {
      text-align: left;
    }
  }
}

.toc.hlist ul, #toc.hlist ul {
  text-align: inherit;
}

.wikitable.hlist td {
  ul, ol, dl {
    text-align: inherit;
  }
}

div.listenlist {
  background: url("//upload.wikimedia.org/wikipedia/commons/4/47/Sound-icon.svg") no-repeat scroll 0 0 transparent;
  background-size: 30px;
  padding-left: 40px;
}

table.mw-hiero-table td {
  vertical-align: middle;
}

div.medialist {
  min-height: 50px;
  margin: 1em;
  background-position: top left;
  background-repeat: no-repeat;
  ul {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    li {
      padding-bottom: 0.5em;
      li {
        font-size: 91%;
        padding-bottom: 0;
      }
    }
  }
}

.mw-parser-output a {
  &[href$=".pdf"].external, &[href*=".pdf?"].external, &[href*=".pdf#"].external, &[href$=".PDF"].external, &[href*=".PDF?"].external, &[href*=".PDF#"].external {
    background: url("//upload.wikimedia.org/wikipedia/commons/2/23/Icons-mini-file_acrobat.gif") no-repeat right;
    padding-right: 18px;
  }
}

.messagebox {
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  width: 80%;
  margin: 0 auto 1em auto;
  padding: .2em;
  &.merge {
    border: 1px solid #c0b8cc;
    background-color: #f0e5ff;
    text-align: center;
  }
  &.cleanup {
    border: 1px solid #9f9fff;
    background-color: #efefff;
    text-align: center;
  }
  &.standard-talk {
    border: 1px solid #c0c090;
    background-color: #f8eaba;
    margin: 4px auto;
  }
}

.mbox-inside .standard-talk {
  border: 1px solid #c0c090;
  background-color: #f8eaba;
  width: 100%;
  margin: 2px 0;
  padding: 2px;
}

.messagebox {
  &.nested-talk {
    border: 1px solid #c0c090;
    background-color: #f8eaba;
    width: 100%;
    margin: 2px 0;
    padding: 2px;
  }
  &.small {
    width: 238px;
    font-size: 85%;
    float: right;
    clear: both;
    margin: 0 0 1em 1em;
    line-height: 1.25em;
  }
  &.small-talk {
    width: 238px;
    font-size: 85%;
    float: right;
    clear: both;
    margin: 0 0 1em 1em;
    line-height: 1.25em;
    background-color: #f8eaba;
  }
}

th.mbox-text {
  border: none;
  padding: 0.25em 0.9em;
  width: 100%;
}

td {
  &.mbox-text {
    border: none;
    padding: 0.25em 0.9em;
    width: 100%;
  }
  &.mbox-image {
    border: none;
    padding: 2px 0 2px 0.9em;
    text-align: center;
  }
  &.mbox-imageright {
    border: none;
    padding: 2px 0.9em 2px 0;
    text-align: center;
  }
  &.mbox-empty-cell {
    border: none;
    padding: 0;
    width: 1px;
  }
}

table.ambox {
  margin: 0 10%;
  border: 1px solid #a2a9b1;
  border-left: 10px solid #36c;
  background-color: #fbfbfb;
  box-sizing: border-box;
  + table.ambox {
    margin-top: -1px;
  }
}

.ambox {
  th.mbox-text {
    padding: 0.25em 0.5em;
  }
  td {
    &.mbox-text {
      padding: 0.25em 0.5em;
    }
    &.mbox-image {
      padding: 2px 0 2px 0.5em;
    }
    &.mbox-imageright {
      padding: 2px 0.5em 2px 0;
    }
  }
}

table {
  &.ambox-notice {
    border-left: 10px solid #36c;
  }
  &.ambox-speedy {
    border-left: 10px solid #b32424;
    background-color: #fee7e6;
  }
  &.ambox-delete {
    border-left: 10px solid #b32424;
  }
  &.ambox-content {
    border-left: 10px solid #f28500;
  }
  &.ambox-style {
    border-left: 10px solid #fc3;
  }
  &.ambox-move {
    border-left: 10px solid #9932cc;
  }
  &.ambox-protection {
    border-left: 10px solid #a2a9b1;
  }
  &.imbox {
    margin: 4px 10%;
    border-collapse: collapse;
    border: 3px solid #36c;
    background-color: #fbfbfb;
    box-sizing: border-box;
  }
}

.imbox .mbox-text .imbox {
  margin: 0 -0.5em;
  display: block;
}

.mbox-inside .imbox {
  margin: 4px;
}

table {
  &.imbox-notice {
    border: 3px solid #36c;
  }
  &.imbox-speedy {
    border: 3px solid #b32424;
    background-color: #fee7e6;
  }
  &.imbox-delete {
    border: 3px solid #b32424;
  }
  &.imbox-content {
    border: 3px solid #f28500;
  }
  &.imbox-style {
    border: 3px solid #fc3;
  }
  &.imbox-move {
    border: 3px solid #9932cc;
  }
  &.imbox-protection {
    border: 3px solid #a2a9b1;
  }
  &.imbox-license {
    border: 3px solid #88a;
    background-color: #f7f8ff;
  }
  &.imbox-featured {
    border: 3px solid #cba135;
  }
  &.cmbox {
    margin: 3px 10%;
    border-collapse: collapse;
    border: 1px solid #a2a9b1;
    background-color: #dfe8ff;
    box-sizing: border-box;
  }
  &.cmbox-notice {
    background-color: #d8e8ff;
  }
  &.cmbox-speedy {
    margin-top: 4px;
    margin-bottom: 4px;
    border: 4px solid #b32424;
    background-color: #ffdbdb;
  }
  &.cmbox-delete {
    background-color: #ffdbdb;
  }
  &.cmbox-content {
    background-color: #ffe7ce;
  }
  &.cmbox-style {
    background-color: #fff9db;
  }
  &.cmbox-move {
    background-color: #e4d8ff;
  }
  &.cmbox-protection {
    background-color: #efefe1;
  }
  &.ombox {
    margin: 4px 10%;
    border-collapse: collapse;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    box-sizing: border-box;
  }
  &.ombox-notice {
    border: 1px solid #a2a9b1;
  }
  &.ombox-speedy {
    border: 2px solid #b32424;
    background-color: #fee7e6;
  }
  &.ombox-delete {
    border: 2px solid #b32424;
  }
  &.ombox-content {
    border: 1px solid #f28500;
  }
  &.ombox-style {
    border: 1px solid #fc3;
  }
  &.ombox-move {
    border: 1px solid #9932cc;
  }
  &.ombox-protection {
    border: 2px solid #a2a9b1;
  }
  &.tmbox {
    margin: 4px 10%;
    border-collapse: collapse;
    border: 1px solid #c0c090;
    background-color: #f8eaba;
    min-width: 80%;
    box-sizing: border-box;
  }
}

.tmbox.mbox-small {
  min-width: 0;
}

.mediawiki .mbox-inside .tmbox {
  margin: 2px 0;
  width: 100%;
}

.mbox-inside .tmbox.mbox-small {
  line-height: 1.5em;
  font-size: 100%;
}

table {
  &.tmbox-speedy {
    border: 2px solid #b32424;
    background-color: #fee7e6;
  }
  &.tmbox-delete {
    border: 2px solid #b32424;
  }
  &.tmbox-content {
    border: 2px solid #f28500;
  }
  &.tmbox-style {
    border: 2px solid #fc3;
  }
  &.tmbox-move {
    border: 2px solid #9932cc;
  }
  &.tmbox-protection, &.tmbox-notice {
    border: 1px solid #c0c090;
  }
  &.dmbox {
    clear: both;
    margin: 0.9em 1em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
  }
  &.fmbox {
    clear: both;
    margin: 0.2em 0;
    width: 100%;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    box-sizing: border-box;
  }
  &.fmbox-system {
    background-color: #f8f9fa;
  }
  &.fmbox-warning {
    border: 1px solid #bb7070;
    background-color: #ffdbdb;
  }
  &.fmbox-editnotice {
    background-color: transparent;
  }
}

div {
  &.mw-warning-with-logexcerpt, &.mw-lag-warn-high, &.mw-cascadeprotectedwarning, &#mw-protect-cascadeon, &.titleblacklist-warning, &.locked-warning {
    clear: both;
    margin: 0.2em 0;
    border: 1px solid #bb7070;
    background-color: #ffdbdb;
    padding: 0.25em 0.9em;
    box-sizing: border-box;
  }
}

html body.mediawiki {
  .mbox-small {
    clear: right;
    float: right;
    margin: 4px 0 4px 1em;
    box-sizing: border-box;
    width: 238px;
    font-size: 88%;
    line-height: 1.25em;
  }
  .mbox-small-left {
    margin: 4px 1em 4px 0;
    box-sizing: border-box;
    overflow: hidden;
    width: 238px;
    border-collapse: collapse;
    font-size: 88%;
    line-height: 1.25em;
  }
}

.compact-ambox table {
  .mbox-image, .mbox-imageright, .mbox-empty-cell {
    display: none;
  }
  &.ambox {
    border: none;
    border-collapse: collapse;
    background-color: transparent;
    margin: 0 0 0 1.6em !important;
    padding: 0 !important;
    width: auto;
    display: block;
  }
}

body.mediawiki .compact-ambox table.mbox-small-left {
  font-size: 100%;
  width: auto;
  margin: 0;
}

.compact-ambox table {
  .mbox-text {
    padding: 0 !important;
    margin: 0 !important;
  }
  .mbox-text-span {
    display: list-item;
    line-height: 1.5em;
    list-style-type: square;
    list-style-image: url(/w/skins/MonoBook/resources/images/bullet.gif);
  }
}

.skin-vector .compact-ambox table .mbox-text-span {
  list-style-type: disc;
  list-style-image: url(/w/skins/Vector/images/bullet-icon.svg);
  list-style-image: url(/w/skins/Vector/images/bullet-icon.png) \9;
}

.compact-ambox .hide-when-compact {
  display: none;
}

.visualhide {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.check-icon a.new {
  display: none;
  speak: none;
}

.nounderlines a {
  text-decoration: none !important;
}

.IPA a {
  &:link, &:visited {
    text-decoration: none !important;
  }
}

div {
  &.NavFrame {
    margin: 0;
    padding: 4px;
    border: 1px solid #a2a9b1;
    text-align: center;
    border-collapse: collapse;
    font-size: 95%;
    + div.NavFrame {
      border-top-style: none;
      border-top-style: hidden;
    }
  }
  &.NavPic {
    background-color: #fff;
    margin: 0;
    padding: 2px;
    float: left;
  }
  &.NavFrame {
    div.NavHead {
      line-height: 1.6em;
      font-weight: bold;
      background-color: #ccf;
      position: relative;
    }
    p {
      font-size: 100%;
    }
    div.NavContent {
      font-size: 100%;
      p {
        font-size: 100%;
      }
    }
  }
  &.NavEnd {
    margin: 0;
    padding: 0;
    line-height: 1px;
    clear: both;
  }
}

a.NavToggle {
  position: absolute;
  top: 0;
  right: 3px;
  font-weight: normal;
  font-size: 90%;
}

.hatnote {
  font-style: italic;
  i {
    font-style: normal;
  }
}

div {
  &.hatnote {
    padding-left: 1.6em;
    margin-bottom: 0.5em;
    + div.hatnote {
      margin-top: -0.5em;
    }
  }
  &.thumb.tleft {
    float: left;
    clear: left;
  }
  &.thumbinner {
    width: 222px;
    border: 1px solid #ccc;
    padding: 3px;
    background-color: #f9f9f9;
    font-size: 94%;
    text-align: center;
    overflow: hidden;
  }
}

.listify {
  td {
    display: list-item;
  }
  tr, table {
    display: block;
  }
}

.geo-default, .geo-dms, .geo-dec {
  display: inline;
}

.geo-nondefault, .geo-multi-punct {
  display: none;
}

.longitude, .latitude {
  white-space: nowrap;
}

div.user-block {
  padding: 5px;
  margin-bottom: 0.5em;
  border: 1px solid #a9a9a9;
  background-color: #ffefd5;
}

.nowrap {
  white-space: nowrap;
}

.nowraplinks {
  a, .selflink {
    white-space: nowrap;
  }
}

.nowrap pre {
  white-space: pre;
}

.wrap, .wraplinks a {
  white-space: normal;
}

.template-documentation {
  clear: both;
  margin: 1em 0 0 0;
  border: 1px solid #a2a9b1;
  background-color: #ecfcf4;
  padding: 1em;
}

#wpUploadDescription {
  height: 13em;
}

.thumbinner {
  min-width: 100px;
}

#mw-subcategories, #mw-pages, #mw-category-media, #filehistory, #wikiPreview, #wikiDiff {
  clear: both;
}

.wpb .wpb-header {
  display: none;
}

.wpbs-inner {
  .wpb .wpb-header {
    display: block;
    display: table-row;
  }
  .wpb-outside {
    display: none;
  }
}

.mw-tag-markers {
  font-style: italic;
  font-size: 90%;
}

.sysop-show, .templateeditor-show, .extendedmover-show, .patroller-show, .extendedconfirmed-show, .autoconfirmed-show, .user-show {
  display: none;
}

.ve-ui-mwNoticesPopupTool-item {
  .editnotice-redlink, .mbox-image, .mbox-imageright {
    display: none !important;
  }
}

ul.permissions-errors {
  margin: 0;
  > li {
    list-style: none none;
  }
}

.times-serif {
  font-family: "Nimbus Roman No9 L", "Times New Roman", Times, serif;
  font-size: 118%;
  line-height: 1;
}

span {
  &.texhtml {
    font-family: "Nimbus Roman No9 L", "Times New Roman", Times, serif;
    font-size: 118%;
    line-height: 1;
    white-space: nowrap;
    span.texhtml {
      font-size: 100%;
    }
  }
  &.mwe-math-mathml-inline {
    font-size: 118%;
  }
}

.text-scrollable div.thumbinner {
  width: 222px;
  border: 1px solid #ccc;
  padding: 3px;
  background-color: #f9f9f9;
  font-size: 94%;
  text-align: center;
  overflow: hidden;
}

.digits, .texhtml {
  -moz-font-feature-settings: "lnum", "tnum", "kern" 0;
  -webkit-font-feature-settings: "lnum", "tnum", "kern" 0;
  font-feature-settings: "lnum", "tnum", "kern" 0;
  font-variant-numeric: lining-nums tabular-nums;
  font-kerning: none;
}

.mwe-math-fallback-image-display {
  margin-left: 1.6em !important;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.mwe-math-mathml-display {
  margin-left: 1.6em !important;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  math {
    display: inline;
  }
}

table {
  &#mw-prefixindex-list-table, &#mw-prefixindex-nav-table {
    width: 98%;
  }
}

.portal-column-left {
  float: left;
  width: 50%;
}

.portal-column-right {
  float: right;
  width: 49%;
}

.portal-column-left-wide {
  float: left;
  width: 60%;
}

.portal-column-right-narrow {
  float: right;
  width: 39%;
}

.portal-column-left-extra-wide {
  float: left;
  width: 70%;
}

.portal-column-right-extra-narrow {
  float: right;
  width: 29%;
}

@media only screen and (max-width: 800px) {
  /* line 1213, ../../sass/wiki_content/wiki_content.scss */
  .portal-column-left, .portal-column-right, .portal-column-left-wide, .portal-column-right-narrow, .portal-column-left-extra-wide, .portal-column-right-extra-narrow {
    float: inherit;
    width: inherit;
  }
}

#bodyContent .letterhead {
  background-image: url("//upload.wikimedia.org/wikipedia/commons/e/e0/Tan-page-corner.png");
  background-repeat: no-repeat;
  padding: 2em;
  background-color: #faf9f2;
}

td .sortkey, th .sortkey {
  display: none;
  speak: none;
}

.inputbox-hidecheckboxes {
  form .inputbox-element, .mw-ui-checkbox {
    display: none !important;
  }
}

.k-player .k-attribution {
  visibility: hidden;
}

.PopUpMediaTransform a .play-btn-large {
  margin: 0;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
}

.flaggedrevs_draft_synced, .flaggedrevs_stable_synced {
  display: none;
}

.bordered-images img {
  border: solid #ddd 1px;
}

@media screen {
  /* line 1258, ../../sass/wiki_content/wiki_content.scss */
  #content .gallerybox div.thumb {
    background-color: #f8f9fa;
  }
  /* line 1261, ../../sass/wiki_content/wiki_content.scss */
  .gallerybox .thumb img {
    background: #fff url(//upload.wikimedia.org/wikipedia/commons/5/5d/Checker-16x16.png) repeat;
  }
  /* line 1264, ../../sass/wiki_content/wiki_content.scss */
  .ns-0 .gallerybox .thumb img, .ns-2 .gallerybox .thumb img, .ns-100 .gallerybox .thumb img, .nochecker .gallerybox .thumb img {
    background-image: none;
  }
}

div.thumb.tright {
  clear: right;
  float: right;
}

@media screen {
  /* line 1275, ../../sass/wiki_content/wiki_content.scss */
  #siteSub {
    display: block;
  }
}

span.mw-editsection {
  display: none;
}

div.popap-wiki {
  display: block;
  overflow: auto;
  color: black;
  width: 800px;
  height: 400px;
  position: absolute;
  background: #fff;
  z-index: 2;
  border: 4px double black;
}

.related_research_topics {
  text-align: center;
}

.text-scrollable {
  div {
    &.thumbinner {
      border: 1px solid #ccc;
      padding: 3px;
      background-color: #f9f9f9;
      font-size: 94%;
      text-align: center;
      overflow: hidden;
    }
    &.tright {
      margin: 0.5em 0 1.3em 1.4em;
      clear: right;
      float: right;
    }
    &.floatright {
      clear: right;
      float: right;
    }
  }
  table.floatright {
    clear: right;
    float: right;
  }
}

div.mw-parser-output {
  a.image:hover div.popap-wiki, sup.reference:hover div.popap-wiki, div.toc:hover div.popap-wiki {
    display: none;
  }
}
div.mw-parser-output {
  a img div.style-popap-wiki {
    display: none;
  }
}
.wiki-img-frame {
  display: none;
  position: absolute;
  width: 600px;
  right: -70%;
  height: 3%;
  z-index: 2;
  border: 22px solid #dbc4c4;
}

.class_popap {
  max-height: 650px;
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .navbox {
    font-size: 65%;
  }
  div.mw-parser-output {
    a img div.style-popap-wiki {
      display: none;
    }
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .wikitable {
    font-size: 55%!important;
    background-color: #f8f9fa;
    color: #222;
    margin: 1em 0;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
  }
  .navbox {
    font-size: 36%;
  }
  div.mw-parser-output {
    a img div.style-popap-wiki {
      display: none;
    }
  }
}
@media (max-width: 320px) {
  .navbox {
    font-size: 33%;
  }
  div.mw-parser-output {
    a img div.style-popap-wiki {
      display: none;
    }
  }
}
