/* line 2, ../../sass/youtube_chennel/youtube_chennel.scss */
#block-wikivisually-theme-youtubechannelblock h2.block-title {
  color: black;
  font-weight: bold;
}
/* line 7, ../../sass/youtube_chennel/youtube_chennel.scss */
#block-wikivisually-theme-youtubechannelblock div#youtube-block ul li {
  display: flex;
  align-items: center;
}
/* line 12, ../../sass/youtube_chennel/youtube_chennel.scss */
#block-wikivisually-theme-youtubechannelblock div#youtube-block div.youtube-stat {
  font-size: 11px;
  color: #767675;
}
/* line 16, ../../sass/youtube_chennel/youtube_chennel.scss */
#block-wikivisually-theme-youtubechannelblock div#youtube-block div.right-stat {
  margin-left: 15px;
}
