<div class="wikivisually_home">
  <div class="title_wikivisually_home"><a href="/">{{ title }}</a></div>
  <div class="description_wikivisually_home">{{ description }}</div>
</div>
<a href="https://twitter.com/intent/tweet?text=wikivisually.loc" target="_blank" title="Share on Twitter"><i class="fa fa-lg fa-twitter twitter_white twitter_hover_yellow">lalala</i></a>
