/* Large desktops */
@media (min-width: 1400px) {
  #block-youtubesearchblock div#youtube-block ul {
    height: 100px !important; }
  #block-youtubesearchblock div.class-overflow {
    height: 200px !important; } }
/* Large laptops */
@media (min-width: 1200px) {
  #block-youtubesearchblock .youtube-stat {
    color: #50b432; }
  #block-youtubesearchblock h2.block-title {
    text-align: center;
    font-weight: bold; }

  .youtubesearch-close {
    display: none;
    z-index: 9999;
    position: fixed;
    left: 85%;
    color: #f4dbdb;
    font-size: 220%;
    top: 0%; }

  .youtubesearch-close:hover {
    text-decoration: none; }

  .youtubesearch-frame {
    display: none;
    position: fixed;
    width: 70%;
    right: 17%;
    height: 89%;
    top: 7%;
    box-shadow: 0px 60px 1340px 540px #c91a1a;
    z-index: 5; }

  #block-youtubesearchblock div#youtube-block ul {
    float: left;
    width: 50%;
    height: 70px; }
    #block-youtubesearchblock div#youtube-block ul:nth-child(2n+1) {
      clear: both; }
  #block-youtubesearchblock div#youtube-block div.title, #block-youtubesearchblock div#youtube-block div.youtube-stat {
    position: relative;
    left: 35%;
    bottom: 70px;
    width: 72%; }
  #block-youtubesearchblock div.class-overflow {
    height: 160px;
    overflow-x: hidden;
    overflow-y: auto; } }
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  #block-youtubesearchblock .youtube-stat {
    color: #50b432; }

  .youtubesearch-close {
    display: none;
    z-index: 9999;
    position: fixed;
    left: 85%;
    color: #f4dbdb;
    font-size: 220%;
    top: 0%; }

  .youtubesearch-close:hover {
    text-decoration: none; }

  .youtubesearch-frame {
    display: none;
    position: fixed;
    width: 70%;
    right: 17%;
    height: 89%;
    top: 7%;
    box-shadow: 0px 60px 1340px 540px #c91a1a;
    z-index: 5; }

  #block-youtubesearchblock div#youtube-block ul {
    float: left;
    width: 50%;
    height: 70px; }
  #block-youtubesearchblock div#youtube-block div.title, #block-youtubesearchblock div#youtube-block div.youtube-stat {
    position: relative;
    left: 35%;
    bottom: 55px;
    width: 72%; }
  #block-youtubesearchblock div.class-overflow {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto; } }
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  #block-youtubesearchblock h2.block-title {
    text-align: center;
    font-weight: bold; }
  #block-youtubesearchblock div.title, #block-youtubesearchblock div.youtube-stat {
    position: relative;
    left: 45%;
    top: -380px;
    width: 40%;
    font-size: x-large; }
  #block-youtubesearchblock div.class-overflow {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto; }

  .youtubesearch-close:hover {
    text-decoration: none; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  #block-youtubesearchblock .youtube-stat {
    color: #50b432; }
  #block-youtubesearchblock h2.block-title {
    text-align: center;
    font-weight: bold; }
  #block-youtubesearchblock div.title, #block-youtubesearchblock div.youtube-stat {
    position: relative;
    left: 55%;
    top: -230px;
    width: 40%;
    font-size: x-large; }
  #block-youtubesearchblock div.class-overflow {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto; }

  .youtubesearch-close {
    display: none;
    z-index: 9999;
    position: fixed;
    left: 85%;
    color: #f4dbdb;
    font-size: 220%;
    top: 0%; }

  .youtubesearch-close:hover {
    text-decoration: none; }

  .youtubesearch-frame {
    display: none;
    position: fixed;
    width: 70%;
    right: 17%;
    height: 89%;
    top: 7%;
    box-shadow: 0px 60px 1340px 540px #c91a1a;
    z-index: 5; } }
/* Portrait phones and smaller */
@media (max-width: 480px) {
  #block-youtubesearchblock .youtube-stat {
    color: #50b432; }
  #block-youtubesearchblock h2.block-title {
    text-align: center;
    font-weight: bold; }
  #block-youtubesearchblock div.title, #block-youtubesearchblock div.youtube-stat {
    position: relative;
    left: 55%;
    top: -110px;
    width: 40%;
    font-size: small; }

  .youtubesearch-close {
    display: none;
    z-index: 9999;
    position: fixed;
    left: 85%;
    color: #f4dbdb;
    font-size: 220%;
    top: 0%; }

  .youtubesearch-close:hover {
    text-decoration: none; }

  .youtubesearch-frame {
    display: none;
    position: fixed;
    width: 70%;
    right: 17%;
    height: 89%;
    top: 7%;
    box-shadow: 0px 60px 1340px 540px #c91a1a;
    z-index: 5; }

  #block-youtubesearchblock div.class-overflow {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto; } }

/*# sourceMappingURL=youtube_search.css.map */
