/* line 1, ../../sass/featured_articles/featured_articles.scss */
a.view-home-page-fetured {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px;
  text-decoration: none;
}
/* line 8, ../../sass/featured_articles/featured_articles.scss */
a.view-home-page-fetured div.title_wiki {
  color: black;
  font-weight: bold;
}
/* line 12, ../../sass/featured_articles/featured_articles.scss */
a.view-home-page-fetured div.img_wiki {
  padding-right: 20px;
}
/* line 14, ../../sass/featured_articles/featured_articles.scss */
a.view-home-page-fetured div.img_wiki img {
  border: solid white 8px;
  border-image: url(/sites/default/files/2019-02/stamp_border-8f88b7335a523ea2a3d9df840d39a22617cae5a93b24f67ae9e149992ab6a64a.jpg) 28;
  border-image-repeat: round;
}

/* line 23, ../../sass/featured_articles/featured_articles.scss */
div.views-row {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  /* line 29, ../../sass/featured_articles/featured_articles.scss */
  section.row-controller {
    width: 200%;
  }

  /* line 32, ../../sass/featured_articles/featured_articles.scss */
  div.view-featured-page div.view-header h2 {
    font-size: 60px;
  }

  /* line 35, ../../sass/featured_articles/featured_articles.scss */
  #block-views-block-featured-block-featured-block {
    width: 40%;
  }
  /* line 37, ../../sass/featured_articles/featured_articles.scss */
  #block-views-block-featured-block-featured-block h2.block-title {
    font-size: 400%;
  }
  /* line 40, ../../sass/featured_articles/featured_articles.scss */
  #block-views-block-featured-block-featured-block img {
    width: 100%;
  }
  /* line 43, ../../sass/featured_articles/featured_articles.scss */
  #block-views-block-featured-block-featured-block div.title_wiki {
    font-size: 220%;
  }

  /* line 47, ../../sass/featured_articles/featured_articles.scss */
  a.view-home-page-fetured div.img_wiki img {
    width: 600px;
  }
}
@media only screen and (max-width: 414px) {
  /* line 52, ../../sass/featured_articles/featured_articles.scss */
  #block-views-block-featured-block-featured-block {
    width: 100%;
    width: 50%;
  }
  /* line 54, ../../sass/featured_articles/featured_articles.scss */
  #block-views-block-featured-block-featured-block h2.block-title {
    font-size: 200%;
  }
  /* line 57, ../../sass/featured_articles/featured_articles.scss */
  #block-views-block-featured-block-featured-block img {
    width: 260%;
  }
  /* line 61, ../../sass/featured_articles/featured_articles.scss */
  #block-views-block-featured-block-featured-block div.title_wiki {
    font-size: 100%;
  }
}
