<div class="form-wiki-search">
    <i class="fa fa-search" aria-hidden="true"></i>
    <form id='wiki-search-article'>
        <input  type='text' value='' placeholder='wikipedia search...'>
    </form>
</div>

