@charset "UTF-8";
/* line 3, ../../sass/wiki_content/wiki_content.scss */
cite, dfn {
  font-style: inherit;
}

/* line 7, ../../sass/wiki_content/wiki_content.scss */
q {
  quotes: '"' '"' "'" "'";
}

/* line 11, ../../sass/wiki_content/wiki_content.scss */
blockquote {
  overflow: hidden;
  margin: 1em 0;
  padding: 0 40px;
}

/* line 17, ../../sass/wiki_content/wiki_content.scss */
strong.selflink {
  font-weight: 700;
}

/* line 21, ../../sass/wiki_content/wiki_content.scss */
small {
  font-size: 85%;
}

/* line 26, ../../sass/wiki_content/wiki_content.scss */
.mw-body-content sub, .mw-body-content sup {
  font-size: 80%;
}

/* line 31, ../../sass/wiki_content/wiki_content.scss */
span.reference {
  font-size: 80%;
}

/* line 35, ../../sass/wiki_content/wiki_content.scss */
.ns-talk .mw-body-content dd {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

/* line 40, ../../sass/wiki_content/wiki_content.scss */
#interwiki-completelist {
  font-weight: bold;
}

/* line 45, ../../sass/wiki_content/wiki_content.scss */
.client-js .mw-special-Watchlist #watchlist-message, .client-js .NavFrame.collapsed .NavContent, .client-js .collapsible:not(.mw-made-collapsible).collapsed > tbody > tr:not(:first-child) {
  display: none;
}

/* line 50, ../../sass/wiki_content/wiki_content.scss */
.mw-rcfilters-enabled .mw-specialpage-summary {
  margin-top: 1em;
}

/* line 54, ../../sass/wiki_content/wiki_content.scss */
#editpage-specialchars {
  display: none;
}

/* line 58, ../../sass/wiki_content/wiki_content.scss */
body.action-info .mw-body-content :target {
  background-color: #def;
  background-color: rgba(0, 127, 255, 0.133);
}

/* line 63, ../../sass/wiki_content/wiki_content.scss */
.citation {
  word-wrap: break-word;
}
/* line 65, ../../sass/wiki_content/wiki_content.scss */
.citation:target {
  background-color: #def;
  background-color: rgba(0, 127, 255, 0.133);
}

@media screen, handheld {
  /* line 72, ../../sass/wiki_content/wiki_content.scss */
  .citation .printonly {
    display: none;
  }
}
/* line 77, ../../sass/wiki_content/wiki_content.scss */
ol.references {
  font-size: 90%;
  margin-bottom: 0.5em;
}

/* line 82, ../../sass/wiki_content/wiki_content.scss */
div.reflist {
  font-size: 90%;
  margin-bottom: 0.5em;
}
/* line 85, ../../sass/wiki_content/wiki_content.scss */
div.reflist ol.references {
  font-size: 100%;
  margin-bottom: 0;
  list-style-type: inherit;
}

/* line 92, ../../sass/wiki_content/wiki_content.scss */
span.brokenref {
  display: none;
}

/* line 96, ../../sass/wiki_content/wiki_content.scss */
div.columns {
  margin-top: 0.3em;
}
/* line 98, ../../sass/wiki_content/wiki_content.scss */
div.columns dl, div.columns ol, div.columns ul {
  margin-top: 0;
}

/* line 103, ../../sass/wiki_content/wiki_content.scss */
.nocolbreak {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

/* line 110, ../../sass/wiki_content/wiki_content.scss */
div.columns li, div.columns dd dd {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

/* line 118, ../../sass/wiki_content/wiki_content.scss */
.hlist dl, .hlist ol, .hlist ul {
  margin: 0;
  padding: 0;
}
/* line 122, ../../sass/wiki_content/wiki_content.scss */
.hlist dd, .hlist dt, .hlist li {
  margin: 0;
  display: inline;
}
/* line 126, ../../sass/wiki_content/wiki_content.scss */
.hlist.inline {
  display: inline;
}
/* line 128, ../../sass/wiki_content/wiki_content.scss */
.hlist.inline dl, .hlist.inline ol, .hlist.inline ul {
  display: inline;
}
/* line 133, ../../sass/wiki_content/wiki_content.scss */
.hlist dl dl, .hlist dl ol, .hlist dl ul {
  display: inline;
}
/* line 138, ../../sass/wiki_content/wiki_content.scss */
.hlist ol dl, .hlist ol ol, .hlist ol ul {
  display: inline;
}
/* line 143, ../../sass/wiki_content/wiki_content.scss */
.hlist ul dl, .hlist ul ol, .hlist ul ul {
  display: inline;
}
/* line 147, ../../sass/wiki_content/wiki_content.scss */
.hlist .mw-empty-li {
  display: none;
}
/* line 150, ../../sass/wiki_content/wiki_content.scss */
.hlist dt:after {
  content: ": ";
}
/* line 153, ../../sass/wiki_content/wiki_content.scss */
.hlist dd:after, .hlist li:after {
  content: " · ";
  font-weight: bold;
}
/* line 157, ../../sass/wiki_content/wiki_content.scss */
.hlist dd:last-child:after, .hlist dt:last-child:after, .hlist li:last-child:after {
  content: none;
}
/* line 161, ../../sass/wiki_content/wiki_content.scss */
.hlist dd dd:first-child:before, .hlist dd dt:first-child:before, .hlist dd li:first-child:before {
  content: " (";
  font-weight: normal;
}
/* line 167, ../../sass/wiki_content/wiki_content.scss */
.hlist dt dd:first-child:before, .hlist dt dt:first-child:before, .hlist dt li:first-child:before {
  content: " (";
  font-weight: normal;
}
/* line 173, ../../sass/wiki_content/wiki_content.scss */
.hlist li dd:first-child:before, .hlist li dt:first-child:before, .hlist li li:first-child:before {
  content: " (";
  font-weight: normal;
}
/* line 179, ../../sass/wiki_content/wiki_content.scss */
.hlist dd dd:last-child:after, .hlist dd dt:last-child:after, .hlist dd li:last-child:after {
  content: ")";
  font-weight: normal;
}
/* line 185, ../../sass/wiki_content/wiki_content.scss */
.hlist dt dd:last-child:after, .hlist dt dt:last-child:after, .hlist dt li:last-child:after {
  content: ")";
  font-weight: normal;
}
/* line 191, ../../sass/wiki_content/wiki_content.scss */
.hlist li dd:last-child:after, .hlist li dt:last-child:after, .hlist li li:last-child:after {
  content: ")";
  font-weight: normal;
}
/* line 196, ../../sass/wiki_content/wiki_content.scss */
.hlist ol {
  counter-reset: listitem;
}
/* line 198, ../../sass/wiki_content/wiki_content.scss */
.hlist ol > li {
  counter-increment: listitem;
}
/* line 200, ../../sass/wiki_content/wiki_content.scss */
.hlist ol > li:before {
  content: " " counter(listitem) " ";
}
/* line 205, ../../sass/wiki_content/wiki_content.scss */
.hlist dd ol > li:first-child:before, .hlist dt ol > li:first-child:before, .hlist li ol > li:first-child:before {
  content: " (" counter(listitem) " ";
}

/* line 211, ../../sass/wiki_content/wiki_content.scss */
.plainlist ol, .plainlist ul {
  line-height: inherit;
  list-style: none none;
  margin: 0;
}
/* line 216, ../../sass/wiki_content/wiki_content.scss */
.plainlist ol li, .plainlist ul li {
  margin-bottom: 0;
}

/* line 221, ../../sass/wiki_content/wiki_content.scss */
.navbox {
  box-sizing: border-box;
  border: 1px solid #a2a9b1;
  width: 100%;
  clear: both;
  font-size: 88%;
  text-align: center;
  padding: 1px;
  margin: 1em auto 0;
}
/* line 230, ../../sass/wiki_content/wiki_content.scss */
.navbox .navbox {
  margin-top: 0;
}
/* line 233, ../../sass/wiki_content/wiki_content.scss */
.navbox + .navbox {
  margin-top: -1px;
}

/* line 238, ../../sass/wiki_content/wiki_content.scss */
.navbox-inner, .navbox-subgroup {
  width: 100%;
}

/* line 242, ../../sass/wiki_content/wiki_content.scss */
.navbox-group, .navbox-title, .navbox-abovebelow {
  padding: 0.25em 1em;
  line-height: 1.5em;
  text-align: center;
}

/* line 248, ../../sass/wiki_content/wiki_content.scss */
th.navbox-group {
  white-space: nowrap;
  text-align: right;
}

/* line 253, ../../sass/wiki_content/wiki_content.scss */
.navbox, .navbox-subgroup {
  background-color: #fdfdfd;
}

/* line 257, ../../sass/wiki_content/wiki_content.scss */
.navbox-list {
  line-height: 1.5em;
  border-color: #fdfdfd;
}

/* line 263, ../../sass/wiki_content/wiki_content.scss */
tr + tr > .navbox-abovebelow, tr + tr > .navbox-group, tr + tr > .navbox-image, tr + tr > .navbox-list {
  border-top: 2px solid #fdfdfd;
}

/* line 268, ../../sass/wiki_content/wiki_content.scss */
.navbox th, .navbox-title {
  background-color: #ccccff;
}

/* line 272, ../../sass/wiki_content/wiki_content.scss */
box-abovebelow, th.navbox-group {
  background-color: #ddddff;
}

/* line 277, ../../sass/wiki_content/wiki_content.scss */
.navbox-subgroup .navbox-title {
  background-color: #ddddff;
}
/* line 280, ../../sass/wiki_content/wiki_content.scss */
.navbox-subgroup .navbox-group, .navbox-subgroup .navbox-abovebelow {
  background-color: #e6e6ff;
}

/* line 285, ../../sass/wiki_content/wiki_content.scss */
.navbox-even {
  background-color: #f7f7f7;
}

/* line 289, ../../sass/wiki_content/wiki_content.scss */
.navbox-odd {
  background-color: transparent;
}

/* line 295, ../../sass/wiki_content/wiki_content.scss */
.navbox .hlist td dl, .navbox .hlist td ol, .navbox .hlist td ul {
  padding: 0.125em 0;
}
/* line 300, ../../sass/wiki_content/wiki_content.scss */
.navbox td.hlist dl, .navbox td.hlist ol, .navbox td.hlist ul {
  padding: 0.125em 0;
}

/* line 306, ../../sass/wiki_content/wiki_content.scss */
.navbar {
  display: inline;
  font-size: 88%;
  font-weight: normal;
}
/* line 310, ../../sass/wiki_content/wiki_content.scss */
.navbar ul {
  display: inline;
  white-space: nowrap;
}

/* line 316, ../../sass/wiki_content/wiki_content.scss */
.mw-body-content .navbar ul {
  line-height: inherit;
}

/* line 321, ../../sass/wiki_content/wiki_content.scss */
.navbar li {
  word-spacing: -0.125em;
}
/* line 324, ../../sass/wiki_content/wiki_content.scss */
.navbar.mini li abbr[title] {
  font-variant: small-caps;
  border-bottom: none;
  text-decoration: none;
  cursor: inherit;
}

/* line 332, ../../sass/wiki_content/wiki_content.scss */
.infobox .navbar {
  font-size: 100%;
}

/* line 336, ../../sass/wiki_content/wiki_content.scss */
.navbox .navbar {
  display: block;
  font-size: 100%;
}

/* line 341, ../../sass/wiki_content/wiki_content.scss */
.navbox-title .navbar {
  float: left;
  text-align: left;
  margin-right: 0.5em;
}

/* line 347, ../../sass/wiki_content/wiki_content.scss */
.collapseButton {
  float: right;
  font-weight: normal;
  margin-left: 0.5em;
  text-align: right;
  width: auto;
}

/* line 355, ../../sass/wiki_content/wiki_content.scss */
.mw-parser-output .mw-collapsible-toggle {
  font-weight: normal;
  text-align: right;
  padding-right: 0.2em;
  padding-left: 0.2em;
}

/* line 362, ../../sass/wiki_content/wiki_content.scss */
.mw-collapsible-leftside-toggle .mw-collapsible-toggle {
  float: left;
  text-align: left;
}

/* line 367, ../../sass/wiki_content/wiki_content.scss */
.infobox {
  border: 1px solid #a2a9b1;
  border-spacing: 3px;
  background-color: #f8f9fa;
  color: black;
  margin: 0.5em 0 0.5em 1em;
  padding: 0.2em;
  float: right;
  clear: right;
  font-size: 88%;
  line-height: 1.5em;
}
/* line 378, ../../sass/wiki_content/wiki_content.scss */
.infobox caption {
  font-size: 125%;
  font-weight: bold;
  padding: 0.2em;
  text-align: center;
}
/* line 384, ../../sass/wiki_content/wiki_content.scss */
.infobox td, .infobox th {
  vertical-align: top;
  text-align: left;
}
/* line 388, ../../sass/wiki_content/wiki_content.scss */
.infobox.bordered {
  border-collapse: collapse;
}
/* line 390, ../../sass/wiki_content/wiki_content.scss */
.infobox.bordered td, .infobox.bordered th {
  border: 1px solid #a2a9b1;
}
/* line 394, ../../sass/wiki_content/wiki_content.scss */
.infobox.bordered .borderless td, .infobox.bordered .borderless th {
  border: 0;
}
/* line 399, ../../sass/wiki_content/wiki_content.scss */
.infobox.sisterproject {
  width: 20em;
  font-size: 90%;
}
/* line 403, ../../sass/wiki_content/wiki_content.scss */
.infobox.standard-talk {
  border: 1px solid #c0c090;
  background-color: #f8eaba;
}
/* line 407, ../../sass/wiki_content/wiki_content.scss */
.infobox.standard-talk.bordered td, .infobox.standard-talk.bordered th {
  border: 1px solid #c0c090;
}
/* line 414, ../../sass/wiki_content/wiki_content.scss */
.infobox.bordered .mergedtoprow td, .infobox.bordered .mergedtoprow th {
  border: 0;
  border-top: 1px solid #a2a9b1;
  border-right: 1px solid #a2a9b1;
}
/* line 421, ../../sass/wiki_content/wiki_content.scss */
.infobox.bordered .mergedrow td, .infobox.bordered .mergedrow th {
  border: 0;
  border-right: 1px solid #a2a9b1;
}
/* line 427, ../../sass/wiki_content/wiki_content.scss */
.infobox.geography {
  border-collapse: collapse;
  line-height: 1.2em;
  font-size: 90%;
}
/* line 431, ../../sass/wiki_content/wiki_content.scss */
.infobox.geography td, .infobox.geography th {
  border-top: 1px solid #a2a9b1;
  padding: 0.4em 0.6em 0.4em 0.6em;
}
/* line 436, ../../sass/wiki_content/wiki_content.scss */
.infobox.geography .mergedtoprow td, .infobox.geography .mergedtoprow th {
  border-top: 1px solid #a2a9b1;
  padding: 0.4em 0.6em 0.2em 0.6em;
}
/* line 442, ../../sass/wiki_content/wiki_content.scss */
.infobox.geography .mergedrow td, .infobox.geography .mergedrow th {
  border: 0;
  padding: 0 0.6em 0.2em 0.6em;
}
/* line 448, ../../sass/wiki_content/wiki_content.scss */
.infobox.geography .mergedbottomrow td, .infobox.geography .mergedbottomrow th {
  border-top: 0;
  border-bottom: 1px solid #a2a9b1;
  padding: 0 0.6em 0.4em 0.6em;
}
/* line 455, ../../sass/wiki_content/wiki_content.scss */
.infobox.geography .maptable td, .infobox.geography .maptable th {
  border: 0;
  padding: 0;
}

/* line 463, ../../sass/wiki_content/wiki_content.scss */
.wikitable {
  background-color: #f8f9fa;
  color: #222;
  margin: 1em 0;
  border: 1px solid #a2a9b1;
  border-collapse: collapse;
}
/* line 469, ../../sass/wiki_content/wiki_content.scss */
.wikitable.plainrowheaders th[scope=row] {
  font-weight: normal;
  text-align: left;
}
/* line 474, ../../sass/wiki_content/wiki_content.scss */
.wikitable td ul, .wikitable td ol, .wikitable td dl {
  text-align: left;
}

/* line 480, ../../sass/wiki_content/wiki_content.scss */
.toc.hlist ul, #toc.hlist ul {
  text-align: inherit;
}

/* line 485, ../../sass/wiki_content/wiki_content.scss */
.wikitable.hlist td ul, .wikitable.hlist td ol, .wikitable.hlist td dl {
  text-align: inherit;
}

/* line 490, ../../sass/wiki_content/wiki_content.scss */
div.listenlist {
  background: url("//upload.wikimedia.org/wikipedia/commons/4/47/Sound-icon.svg") no-repeat scroll 0 0 transparent;
  background-size: 30px;
  padding-left: 40px;
}

/* line 496, ../../sass/wiki_content/wiki_content.scss */
table.mw-hiero-table td {
  vertical-align: middle;
}

/* line 500, ../../sass/wiki_content/wiki_content.scss */
div.medialist {
  min-height: 50px;
  margin: 1em;
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 505, ../../sass/wiki_content/wiki_content.scss */
div.medialist ul {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
}
/* line 509, ../../sass/wiki_content/wiki_content.scss */
div.medialist ul li {
  padding-bottom: 0.5em;
}
/* line 511, ../../sass/wiki_content/wiki_content.scss */
div.medialist ul li li {
  font-size: 91%;
  padding-bottom: 0;
}

/* line 520, ../../sass/wiki_content/wiki_content.scss */
.mw-parser-output a[href$=".pdf"].external, .mw-parser-output a[href*=".pdf?"].external, .mw-parser-output a[href*=".pdf#"].external, .mw-parser-output a[href$=".PDF"].external, .mw-parser-output a[href*=".PDF?"].external, .mw-parser-output a[href*=".PDF#"].external {
  background: url("//upload.wikimedia.org/wikipedia/commons/2/23/Icons-mini-file_acrobat.gif") no-repeat right;
  padding-right: 18px;
}

/* line 526, ../../sass/wiki_content/wiki_content.scss */
.messagebox {
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  width: 80%;
  margin: 0 auto 1em auto;
  padding: .2em;
}
/* line 532, ../../sass/wiki_content/wiki_content.scss */
.messagebox.merge {
  border: 1px solid #c0b8cc;
  background-color: #f0e5ff;
  text-align: center;
}
/* line 537, ../../sass/wiki_content/wiki_content.scss */
.messagebox.cleanup {
  border: 1px solid #9f9fff;
  background-color: #efefff;
  text-align: center;
}
/* line 542, ../../sass/wiki_content/wiki_content.scss */
.messagebox.standard-talk {
  border: 1px solid #c0c090;
  background-color: #f8eaba;
  margin: 4px auto;
}

/* line 549, ../../sass/wiki_content/wiki_content.scss */
.mbox-inside .standard-talk {
  border: 1px solid #c0c090;
  background-color: #f8eaba;
  width: 100%;
  margin: 2px 0;
  padding: 2px;
}

/* line 558, ../../sass/wiki_content/wiki_content.scss */
.messagebox.nested-talk {
  border: 1px solid #c0c090;
  background-color: #f8eaba;
  width: 100%;
  margin: 2px 0;
  padding: 2px;
}
/* line 565, ../../sass/wiki_content/wiki_content.scss */
.messagebox.small {
  width: 238px;
  font-size: 85%;
  float: right;
  clear: both;
  margin: 0 0 1em 1em;
  line-height: 1.25em;
}
/* line 573, ../../sass/wiki_content/wiki_content.scss */
.messagebox.small-talk {
  width: 238px;
  font-size: 85%;
  float: right;
  clear: both;
  margin: 0 0 1em 1em;
  line-height: 1.25em;
  background-color: #f8eaba;
}

/* line 584, ../../sass/wiki_content/wiki_content.scss */
th.mbox-text {
  border: none;
  padding: 0.25em 0.9em;
  width: 100%;
}

/* line 591, ../../sass/wiki_content/wiki_content.scss */
td.mbox-text {
  border: none;
  padding: 0.25em 0.9em;
  width: 100%;
}
/* line 596, ../../sass/wiki_content/wiki_content.scss */
td.mbox-image {
  border: none;
  padding: 2px 0 2px 0.9em;
  text-align: center;
}
/* line 601, ../../sass/wiki_content/wiki_content.scss */
td.mbox-imageright {
  border: none;
  padding: 2px 0.9em 2px 0;
  text-align: center;
}
/* line 606, ../../sass/wiki_content/wiki_content.scss */
td.mbox-empty-cell {
  border: none;
  padding: 0;
  width: 1px;
}

/* line 613, ../../sass/wiki_content/wiki_content.scss */
table.ambox {
  margin: 0 10%;
  border: 1px solid #a2a9b1;
  border-left: 10px solid #36c;
  background-color: #fbfbfb;
  box-sizing: border-box;
}
/* line 619, ../../sass/wiki_content/wiki_content.scss */
table.ambox + table.ambox {
  margin-top: -1px;
}

/* line 625, ../../sass/wiki_content/wiki_content.scss */
.ambox th.mbox-text {
  padding: 0.25em 0.5em;
}
/* line 629, ../../sass/wiki_content/wiki_content.scss */
.ambox td.mbox-text {
  padding: 0.25em 0.5em;
}
/* line 632, ../../sass/wiki_content/wiki_content.scss */
.ambox td.mbox-image {
  padding: 2px 0 2px 0.5em;
}
/* line 635, ../../sass/wiki_content/wiki_content.scss */
.ambox td.mbox-imageright {
  padding: 2px 0.5em 2px 0;
}

/* line 642, ../../sass/wiki_content/wiki_content.scss */
table.ambox-notice {
  border-left: 10px solid #36c;
}
/* line 645, ../../sass/wiki_content/wiki_content.scss */
table.ambox-speedy {
  border-left: 10px solid #b32424;
  background-color: #fee7e6;
}
/* line 649, ../../sass/wiki_content/wiki_content.scss */
table.ambox-delete {
  border-left: 10px solid #b32424;
}
/* line 652, ../../sass/wiki_content/wiki_content.scss */
table.ambox-content {
  border-left: 10px solid #f28500;
}
/* line 655, ../../sass/wiki_content/wiki_content.scss */
table.ambox-style {
  border-left: 10px solid #fc3;
}
/* line 658, ../../sass/wiki_content/wiki_content.scss */
table.ambox-move {
  border-left: 10px solid #9932cc;
}
/* line 661, ../../sass/wiki_content/wiki_content.scss */
table.ambox-protection {
  border-left: 10px solid #a2a9b1;
}
/* line 664, ../../sass/wiki_content/wiki_content.scss */
table.imbox {
  margin: 4px 10%;
  border-collapse: collapse;
  border: 3px solid #36c;
  background-color: #fbfbfb;
  box-sizing: border-box;
}

/* line 673, ../../sass/wiki_content/wiki_content.scss */
.imbox .mbox-text .imbox {
  margin: 0 -0.5em;
  display: block;
}

/* line 678, ../../sass/wiki_content/wiki_content.scss */
.mbox-inside .imbox {
  margin: 4px;
}

/* line 683, ../../sass/wiki_content/wiki_content.scss */
table.imbox-notice {
  border: 3px solid #36c;
}
/* line 686, ../../sass/wiki_content/wiki_content.scss */
table.imbox-speedy {
  border: 3px solid #b32424;
  background-color: #fee7e6;
}
/* line 690, ../../sass/wiki_content/wiki_content.scss */
table.imbox-delete {
  border: 3px solid #b32424;
}
/* line 693, ../../sass/wiki_content/wiki_content.scss */
table.imbox-content {
  border: 3px solid #f28500;
}
/* line 696, ../../sass/wiki_content/wiki_content.scss */
table.imbox-style {
  border: 3px solid #fc3;
}
/* line 699, ../../sass/wiki_content/wiki_content.scss */
table.imbox-move {
  border: 3px solid #9932cc;
}
/* line 702, ../../sass/wiki_content/wiki_content.scss */
table.imbox-protection {
  border: 3px solid #a2a9b1;
}
/* line 705, ../../sass/wiki_content/wiki_content.scss */
table.imbox-license {
  border: 3px solid #88a;
  background-color: #f7f8ff;
}
/* line 709, ../../sass/wiki_content/wiki_content.scss */
table.imbox-featured {
  border: 3px solid #cba135;
}
/* line 712, ../../sass/wiki_content/wiki_content.scss */
table.cmbox {
  margin: 3px 10%;
  border-collapse: collapse;
  border: 1px solid #a2a9b1;
  background-color: #dfe8ff;
  box-sizing: border-box;
}
/* line 719, ../../sass/wiki_content/wiki_content.scss */
table.cmbox-notice {
  background-color: #d8e8ff;
}
/* line 722, ../../sass/wiki_content/wiki_content.scss */
table.cmbox-speedy {
  margin-top: 4px;
  margin-bottom: 4px;
  border: 4px solid #b32424;
  background-color: #ffdbdb;
}
/* line 728, ../../sass/wiki_content/wiki_content.scss */
table.cmbox-delete {
  background-color: #ffdbdb;
}
/* line 731, ../../sass/wiki_content/wiki_content.scss */
table.cmbox-content {
  background-color: #ffe7ce;
}
/* line 734, ../../sass/wiki_content/wiki_content.scss */
table.cmbox-style {
  background-color: #fff9db;
}
/* line 737, ../../sass/wiki_content/wiki_content.scss */
table.cmbox-move {
  background-color: #e4d8ff;
}
/* line 740, ../../sass/wiki_content/wiki_content.scss */
table.cmbox-protection {
  background-color: #efefe1;
}
/* line 743, ../../sass/wiki_content/wiki_content.scss */
table.ombox {
  margin: 4px 10%;
  border-collapse: collapse;
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  box-sizing: border-box;
}
/* line 750, ../../sass/wiki_content/wiki_content.scss */
table.ombox-notice {
  border: 1px solid #a2a9b1;
}
/* line 753, ../../sass/wiki_content/wiki_content.scss */
table.ombox-speedy {
  border: 2px solid #b32424;
  background-color: #fee7e6;
}
/* line 757, ../../sass/wiki_content/wiki_content.scss */
table.ombox-delete {
  border: 2px solid #b32424;
}
/* line 760, ../../sass/wiki_content/wiki_content.scss */
table.ombox-content {
  border: 1px solid #f28500;
}
/* line 763, ../../sass/wiki_content/wiki_content.scss */
table.ombox-style {
  border: 1px solid #fc3;
}
/* line 766, ../../sass/wiki_content/wiki_content.scss */
table.ombox-move {
  border: 1px solid #9932cc;
}
/* line 769, ../../sass/wiki_content/wiki_content.scss */
table.ombox-protection {
  border: 2px solid #a2a9b1;
}
/* line 772, ../../sass/wiki_content/wiki_content.scss */
table.tmbox {
  margin: 4px 10%;
  border-collapse: collapse;
  border: 1px solid #c0c090;
  background-color: #f8eaba;
  min-width: 80%;
  box-sizing: border-box;
}

/* line 782, ../../sass/wiki_content/wiki_content.scss */
.tmbox.mbox-small {
  min-width: 0;
}

/* line 786, ../../sass/wiki_content/wiki_content.scss */
.mediawiki .mbox-inside .tmbox {
  margin: 2px 0;
  width: 100%;
}

/* line 791, ../../sass/wiki_content/wiki_content.scss */
.mbox-inside .tmbox.mbox-small {
  line-height: 1.5em;
  font-size: 100%;
}

/* line 797, ../../sass/wiki_content/wiki_content.scss */
table.tmbox-speedy {
  border: 2px solid #b32424;
  background-color: #fee7e6;
}
/* line 801, ../../sass/wiki_content/wiki_content.scss */
table.tmbox-delete {
  border: 2px solid #b32424;
}
/* line 804, ../../sass/wiki_content/wiki_content.scss */
table.tmbox-content {
  border: 2px solid #f28500;
}
/* line 807, ../../sass/wiki_content/wiki_content.scss */
table.tmbox-style {
  border: 2px solid #fc3;
}
/* line 810, ../../sass/wiki_content/wiki_content.scss */
table.tmbox-move {
  border: 2px solid #9932cc;
}
/* line 813, ../../sass/wiki_content/wiki_content.scss */
table.tmbox-protection, table.tmbox-notice {
  border: 1px solid #c0c090;
}
/* line 816, ../../sass/wiki_content/wiki_content.scss */
table.dmbox {
  clear: both;
  margin: 0.9em 1em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}
/* line 823, ../../sass/wiki_content/wiki_content.scss */
table.fmbox {
  clear: both;
  margin: 0.2em 0;
  width: 100%;
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  box-sizing: border-box;
}
/* line 831, ../../sass/wiki_content/wiki_content.scss */
table.fmbox-system {
  background-color: #f8f9fa;
}
/* line 834, ../../sass/wiki_content/wiki_content.scss */
table.fmbox-warning {
  border: 1px solid #bb7070;
  background-color: #ffdbdb;
}
/* line 838, ../../sass/wiki_content/wiki_content.scss */
table.fmbox-editnotice {
  background-color: transparent;
}

/* line 844, ../../sass/wiki_content/wiki_content.scss */
div.mw-warning-with-logexcerpt, div.mw-lag-warn-high, div.mw-cascadeprotectedwarning, div#mw-protect-cascadeon, div.titleblacklist-warning, div.locked-warning {
  clear: both;
  margin: 0.2em 0;
  border: 1px solid #bb7070;
  background-color: #ffdbdb;
  padding: 0.25em 0.9em;
  box-sizing: border-box;
}

/* line 855, ../../sass/wiki_content/wiki_content.scss */
html body.mediawiki .mbox-small {
  clear: right;
  float: right;
  margin: 4px 0 4px 1em;
  box-sizing: border-box;
  width: 238px;
  font-size: 88%;
  line-height: 1.25em;
}
/* line 864, ../../sass/wiki_content/wiki_content.scss */
html body.mediawiki .mbox-small-left {
  margin: 4px 1em 4px 0;
  box-sizing: border-box;
  overflow: hidden;
  width: 238px;
  border-collapse: collapse;
  font-size: 88%;
  line-height: 1.25em;
}

/* line 876, ../../sass/wiki_content/wiki_content.scss */
.compact-ambox table .mbox-image, .compact-ambox table .mbox-imageright, .compact-ambox table .mbox-empty-cell {
  display: none;
}
/* line 879, ../../sass/wiki_content/wiki_content.scss */
.compact-ambox table.ambox {
  border: none;
  border-collapse: collapse;
  background-color: transparent;
  margin: 0 0 0 1.6em !important;
  padding: 0 !important;
  width: auto;
  display: block;
}

/* line 890, ../../sass/wiki_content/wiki_content.scss */
body.mediawiki .compact-ambox table.mbox-small-left {
  font-size: 100%;
  width: auto;
  margin: 0;
}

/* line 897, ../../sass/wiki_content/wiki_content.scss */
.compact-ambox table .mbox-text {
  padding: 0 !important;
  margin: 0 !important;
}
/* line 901, ../../sass/wiki_content/wiki_content.scss */
.compact-ambox table .mbox-text-span {
  display: list-item;
  line-height: 1.5em;
  list-style-type: square;
  list-style-image: url(/w/skins/MonoBook/resources/images/bullet.gif);
}

/* line 909, ../../sass/wiki_content/wiki_content.scss */
.skin-vector .compact-ambox table .mbox-text-span {
  list-style-type: disc;
  list-style-image: url(/w/skins/Vector/images/bullet-icon.svg);
  list-style-image: url(/w/skins/Vector/images/bullet-icon.png) \9;
}

/* line 915, ../../sass/wiki_content/wiki_content.scss */
.compact-ambox .hide-when-compact {
  display: none;
}

/* line 919, ../../sass/wiki_content/wiki_content.scss */
.visualhide {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* line 928, ../../sass/wiki_content/wiki_content.scss */
.check-icon a.new {
  display: none;
  speak: none;
}

/* line 933, ../../sass/wiki_content/wiki_content.scss */
.nounderlines a {
  text-decoration: none !important;
}

/* line 938, ../../sass/wiki_content/wiki_content.scss */
.IPA a:link, .IPA a:visited {
  text-decoration: none !important;
}

/* line 944, ../../sass/wiki_content/wiki_content.scss */
div.NavFrame {
  margin: 0;
  padding: 4px;
  border: 1px solid #a2a9b1;
  text-align: center;
  border-collapse: collapse;
  font-size: 95%;
}
/* line 951, ../../sass/wiki_content/wiki_content.scss */
div.NavFrame + div.NavFrame {
  border-top-style: none;
  border-top-style: hidden;
}
/* line 956, ../../sass/wiki_content/wiki_content.scss */
div.NavPic {
  background-color: #fff;
  margin: 0;
  padding: 2px;
  float: left;
}
/* line 963, ../../sass/wiki_content/wiki_content.scss */
div.NavFrame div.NavHead {
  line-height: 1.6em;
  font-weight: bold;
  background-color: #ccf;
  position: relative;
}
/* line 969, ../../sass/wiki_content/wiki_content.scss */
div.NavFrame p {
  font-size: 100%;
}
/* line 972, ../../sass/wiki_content/wiki_content.scss */
div.NavFrame div.NavContent {
  font-size: 100%;
}
/* line 974, ../../sass/wiki_content/wiki_content.scss */
div.NavFrame div.NavContent p {
  font-size: 100%;
}
/* line 979, ../../sass/wiki_content/wiki_content.scss */
div.NavEnd {
  margin: 0;
  padding: 0;
  line-height: 1px;
  clear: both;
}

/* line 987, ../../sass/wiki_content/wiki_content.scss */
a.NavToggle {
  position: absolute;
  top: 0;
  right: 3px;
  font-weight: normal;
  font-size: 90%;
}

/* line 995, ../../sass/wiki_content/wiki_content.scss */
.hatnote {
  font-style: italic;
}
/* line 997, ../../sass/wiki_content/wiki_content.scss */
.hatnote i {
  font-style: normal;
}

/* line 1003, ../../sass/wiki_content/wiki_content.scss */
div.hatnote {
  padding-left: 1.6em;
  margin-bottom: 0.5em;
}
/* line 1006, ../../sass/wiki_content/wiki_content.scss */
div.hatnote + div.hatnote {
  margin-top: -0.5em;
}
/* line 1010, ../../sass/wiki_content/wiki_content.scss */
div.thumb.tleft {
  float: left;
  clear: left;
}
/* line 1014, ../../sass/wiki_content/wiki_content.scss */
div.thumbinner {
  width: 222px;
  border: 1px solid #ccc;
  padding: 3px;
  background-color: #f9f9f9;
  font-size: 94%;
  text-align: center;
  overflow: hidden;
}

/* line 1026, ../../sass/wiki_content/wiki_content.scss */
.listify td {
  display: list-item;
}
/* line 1029, ../../sass/wiki_content/wiki_content.scss */
.listify tr, .listify table {
  display: block;
}

/* line 1034, ../../sass/wiki_content/wiki_content.scss */
.geo-default, .geo-dms, .geo-dec {
  display: inline;
}

/* line 1038, ../../sass/wiki_content/wiki_content.scss */
.geo-nondefault, .geo-multi-punct {
  display: none;
}

/* line 1042, ../../sass/wiki_content/wiki_content.scss */
.longitude, .latitude {
  white-space: nowrap;
}

/* line 1046, ../../sass/wiki_content/wiki_content.scss */
div.user-block {
  padding: 5px;
  margin-bottom: 0.5em;
  border: 1px solid #a9a9a9;
  background-color: #ffefd5;
}

/* line 1053, ../../sass/wiki_content/wiki_content.scss */
.nowrap {
  white-space: nowrap;
}

/* line 1058, ../../sass/wiki_content/wiki_content.scss */
.nowraplinks a, .nowraplinks .selflink {
  white-space: nowrap;
}

/* line 1063, ../../sass/wiki_content/wiki_content.scss */
.nowrap pre {
  white-space: pre;
}

/* line 1067, ../../sass/wiki_content/wiki_content.scss */
.wrap, .wraplinks a {
  white-space: normal;
}

/* line 1071, ../../sass/wiki_content/wiki_content.scss */
.template-documentation {
  clear: both;
  margin: 1em 0 0 0;
  border: 1px solid #a2a9b1;
  background-color: #ecfcf4;
  padding: 1em;
}

/* line 1079, ../../sass/wiki_content/wiki_content.scss */
#wpUploadDescription {
  height: 13em;
}

/* line 1083, ../../sass/wiki_content/wiki_content.scss */
.thumbinner {
  min-width: 100px;
}

/* line 1087, ../../sass/wiki_content/wiki_content.scss */
#mw-subcategories, #mw-pages, #mw-category-media, #filehistory, #wikiPreview, #wikiDiff {
  clear: both;
}

/* line 1091, ../../sass/wiki_content/wiki_content.scss */
.wpb .wpb-header {
  display: none;
}

/* line 1096, ../../sass/wiki_content/wiki_content.scss */
.wpbs-inner .wpb .wpb-header {
  display: block;
  display: table-row;
}
/* line 1100, ../../sass/wiki_content/wiki_content.scss */
.wpbs-inner .wpb-outside {
  display: none;
}

/* line 1105, ../../sass/wiki_content/wiki_content.scss */
.mw-tag-markers {
  font-style: italic;
  font-size: 90%;
}

/* line 1110, ../../sass/wiki_content/wiki_content.scss */
.sysop-show, .templateeditor-show, .extendedmover-show, .patroller-show, .extendedconfirmed-show, .autoconfirmed-show, .user-show {
  display: none;
}

/* line 1115, ../../sass/wiki_content/wiki_content.scss */
.ve-ui-mwNoticesPopupTool-item .editnotice-redlink, .ve-ui-mwNoticesPopupTool-item .mbox-image, .ve-ui-mwNoticesPopupTool-item .mbox-imageright {
  display: none !important;
}

/* line 1120, ../../sass/wiki_content/wiki_content.scss */
ul.permissions-errors {
  margin: 0;
}
/* line 1122, ../../sass/wiki_content/wiki_content.scss */
ul.permissions-errors > li {
  list-style: none none;
}

/* line 1127, ../../sass/wiki_content/wiki_content.scss */
.times-serif {
  font-family: "Nimbus Roman No9 L", "Times New Roman", Times, serif;
  font-size: 118%;
  line-height: 1;
}

/* line 1134, ../../sass/wiki_content/wiki_content.scss */
span.texhtml {
  font-family: "Nimbus Roman No9 L", "Times New Roman", Times, serif;
  font-size: 118%;
  line-height: 1;
  white-space: nowrap;
}
/* line 1139, ../../sass/wiki_content/wiki_content.scss */
span.texhtml span.texhtml {
  font-size: 100%;
}
/* line 1143, ../../sass/wiki_content/wiki_content.scss */
span.mwe-math-mathml-inline {
  font-size: 118%;
}

/* line 1148, ../../sass/wiki_content/wiki_content.scss */
.text-scrollable div.thumbinner {
  width: 222px;
  border: 1px solid #ccc;
  padding: 3px;
  background-color: #f9f9f9;
  font-size: 94%;
  text-align: center;
  overflow: hidden;
}

/* line 1158, ../../sass/wiki_content/wiki_content.scss */
.digits, .texhtml {
  -moz-font-feature-settings: "lnum", "tnum", "kern" 0;
  -webkit-font-feature-settings: "lnum", "tnum", "kern" 0;
  font-feature-settings: "lnum", "tnum", "kern" 0;
  font-variant-numeric: lining-nums tabular-nums;
  font-kerning: none;
}

/* line 1166, ../../sass/wiki_content/wiki_content.scss */
.mwe-math-fallback-image-display {
  margin-left: 1.6em !important;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

/* line 1172, ../../sass/wiki_content/wiki_content.scss */
.mwe-math-mathml-display {
  margin-left: 1.6em !important;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
/* line 1176, ../../sass/wiki_content/wiki_content.scss */
.mwe-math-mathml-display math {
  display: inline;
}

/* line 1182, ../../sass/wiki_content/wiki_content.scss */
table#mw-prefixindex-list-table, table#mw-prefixindex-nav-table {
  width: 98%;
}

/* line 1187, ../../sass/wiki_content/wiki_content.scss */
.portal-column-left {
  float: left;
  width: 50%;
}

/* line 1192, ../../sass/wiki_content/wiki_content.scss */
.portal-column-right {
  float: right;
  width: 49%;
}

/* line 1197, ../../sass/wiki_content/wiki_content.scss */
.portal-column-left-wide {
  float: left;
  width: 60%;
}

/* line 1202, ../../sass/wiki_content/wiki_content.scss */
.portal-column-right-narrow {
  float: right;
  width: 39%;
}

/* line 1207, ../../sass/wiki_content/wiki_content.scss */
.portal-column-left-extra-wide {
  float: left;
  width: 70%;
}

/* line 1212, ../../sass/wiki_content/wiki_content.scss */
.portal-column-right-extra-narrow {
  float: right;
  width: 29%;
}

@media only screen and (max-width: 800px) {
  /* line 1213, ../../sass/wiki_content/wiki_content.scss */
  /* line 1219, ../../sass/wiki_content/wiki_content.scss */
  .portal-column-left, .portal-column-right, .portal-column-left-wide, .portal-column-right-narrow, .portal-column-left-extra-wide, .portal-column-right-extra-narrow {
    float: inherit;
    width: inherit;
  }
}
/* line 1225, ../../sass/wiki_content/wiki_content.scss */
#bodyContent .letterhead {
  background-image: url("//upload.wikimedia.org/wikipedia/commons/e/e0/Tan-page-corner.png");
  background-repeat: no-repeat;
  padding: 2em;
  background-color: #faf9f2;
}

/* line 1232, ../../sass/wiki_content/wiki_content.scss */
td .sortkey, th .sortkey {
  display: none;
  speak: none;
}

/* line 1238, ../../sass/wiki_content/wiki_content.scss */
.inputbox-hidecheckboxes form .inputbox-element, .inputbox-hidecheckboxes .mw-ui-checkbox {
  display: none !important;
}

/* line 1243, ../../sass/wiki_content/wiki_content.scss */
.k-player .k-attribution {
  visibility: hidden;
}

/* line 1247, ../../sass/wiki_content/wiki_content.scss */
.PopUpMediaTransform a .play-btn-large {
  margin: 0;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
}

/* line 1255, ../../sass/wiki_content/wiki_content.scss */
.flaggedrevs_draft_synced, .flaggedrevs_stable_synced {
  display: none;
}

/* line 1259, ../../sass/wiki_content/wiki_content.scss */
.bordered-images img {
  border: solid #ddd 1px;
}

@media screen {
  /* line 1258, ../../sass/wiki_content/wiki_content.scss */
  /* line 1265, ../../sass/wiki_content/wiki_content.scss */
  #content .gallerybox div.thumb {
    background-color: #f8f9fa;
  }

  /* line 1261, ../../sass/wiki_content/wiki_content.scss */
  /* line 1269, ../../sass/wiki_content/wiki_content.scss */
  .gallerybox .thumb img {
    background: #fff url(//upload.wikimedia.org/wikipedia/commons/5/5d/Checker-16x16.png) repeat;
  }

  /* line 1264, ../../sass/wiki_content/wiki_content.scss */
  /* line 1273, ../../sass/wiki_content/wiki_content.scss */
  .ns-0 .gallerybox .thumb img, .ns-2 .gallerybox .thumb img, .ns-100 .gallerybox .thumb img, .nochecker .gallerybox .thumb img {
    background-image: none;
  }
}
/* line 1278, ../../sass/wiki_content/wiki_content.scss */
div.thumb.tright {
  clear: right;
  float: right;
}

@media screen {
  /* line 1275, ../../sass/wiki_content/wiki_content.scss */
  /* line 1285, ../../sass/wiki_content/wiki_content.scss */
  #siteSub {
    display: block;
  }
}
/* line 1290, ../../sass/wiki_content/wiki_content.scss */
span.mw-editsection {
  display: none;
}

/* line 1294, ../../sass/wiki_content/wiki_content.scss */
div.popap-wiki {
  display: block;
  overflow: auto;
  color: black;
  width: 800px;
  height: 400px;
  position: absolute;
  background: #fff;
  z-index: 2;
  border: 4px double black;
}

/* line 1306, ../../sass/wiki_content/wiki_content.scss */
.related_research_topics {
  text-align: center;
}

/* line 1312, ../../sass/wiki_content/wiki_content.scss */
.text-scrollable div.thumbinner {
  border: 1px solid #ccc;
  padding: 3px;
  background-color: #f9f9f9;
  font-size: 94%;
  text-align: center;
  overflow: hidden;
}
/* line 1320, ../../sass/wiki_content/wiki_content.scss */
.text-scrollable div.tright {
  margin: 0.5em 0 1.3em 1.4em;
  clear: right;
  float: right;
}
/* line 1325, ../../sass/wiki_content/wiki_content.scss */
.text-scrollable div.floatright {
  clear: right;
  float: right;
}
/* line 1330, ../../sass/wiki_content/wiki_content.scss */
.text-scrollable table.floatright {
  clear: right;
  float: right;
}

/* line 1337, ../../sass/wiki_content/wiki_content.scss */
div.mw-parser-output a.image:hover div.popap-wiki, div.mw-parser-output sup.reference:hover div.popap-wiki, div.mw-parser-output div.toc:hover div.popap-wiki {
  display: none;
}

/* line 1342, ../../sass/wiki_content/wiki_content.scss */
div.mw-parser-output a img div.style-popap-wiki {
  display: none;
}

/* line 1346, ../../sass/wiki_content/wiki_content.scss */
.wiki-img-frame {
  display: none;
  position: absolute;
  width: 600px;
  right: -70%;
  height: 3%;
  z-index: 2;
  border: 22px solid #dbc4c4;
}

/* line 1356, ../../sass/wiki_content/wiki_content.scss */
.class_popap {
  max-height: 650px;
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /* line 1361, ../../sass/wiki_content/wiki_content.scss */
  .navbox {
    font-size: 65%;
  }

  /* line 1365, ../../sass/wiki_content/wiki_content.scss */
  div.mw-parser-output a img div.style-popap-wiki {
    display: none;
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  /* line 1372, ../../sass/wiki_content/wiki_content.scss */
  .wikitable {
    font-size: 55% !important;
    background-color: #f8f9fa;
    color: #222;
    margin: 1em 0;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
  }

  /* line 1380, ../../sass/wiki_content/wiki_content.scss */
  .navbox {
    font-size: 36%;
  }

  /* line 1384, ../../sass/wiki_content/wiki_content.scss */
  div.mw-parser-output a img div.style-popap-wiki {
    display: none;
  }
}
@media (max-width: 320px) {
  /* line 1390, ../../sass/wiki_content/wiki_content.scss */
  .navbox {
    font-size: 33%;
  }

  /* line 1394, ../../sass/wiki_content/wiki_content.scss */
  div.mw-parser-output a img div.style-popap-wiki {
    display: none;
  }
}
