/* Large desktops */
@media (min-width: 1400px) {
  .url_img_wiki a {
    &.class_link {
      width: 3% !important;
      left: 88.9% !important;
    }
    &.class_all {
      width: 6% !important;
      left: 82.2% !important;
    }
  }
  a {
    &.class_all {
      width: 6% !important;
      left: 82% !important;
      top: 15% !important;
    }
    &.class_link {
      width: 3% !important;
      left: 88% !important;
      top: 15% !important;
    }
  }
}

/* Large laptops */
@media (min-width: 1200px) {
  div.title-wiki-block a {
    color: #9ea03d;
    text-decoration: none;
    font-size: 170%;
    background: #fff;
    margin-left: -4px;
  }
  hr.wiki_img_hr {
    margin-top: -1.8%;
    height: 2px;
    color: #9ea03d;
    background-color: #9ea03d;
  }
  div {
    &.research-topics-title-and-text {
      border-color: #DCDCDC !important;
      border: 1px solid;
      margin-top: 12px;
    }
    &.art-rel-list {
      padding: 0 25px 15px 25px;
    }
    &.research-topics-title-and-text {
      width: 90%;
      margin-left: 5%;
    }
    &.url_img_wiki {
      width: 50%;
      display: inline-block;
      margin: auto;
      vertical-align: middle;
    }
  }
  a {
    &.class_all {
      width: 7%;
      left: 79%;
      top: 15%;
      color: red;
      font-size: 150%;
      position: fixed;
    }
    &.class_link {
      font-size: 150%;
      position: fixed;
      width: 3%;
      left: 87.6%;
      top: 15%;
      color: red;
    }
  }
  .url_img_wiki a {
    &.class_link {
      font-size: 150%;
      position: fixed;
      color: red;
      width: 4%;
      left: 88.3%;
      top: 15%;
    }
    &.class_all {
      width: 9%;
      left: 79.2%;
      top: 15%;
    }
  }
  div.wiki_class_popap img {
    right: 10%;
    top: 15%;
  }
  a.title-wiki-block-popap div.popap-wiki {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    a {
      color: #337ab7;
      text-decoration: none;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      &:hover {
        color: #23527c;
        text-decoration: underline;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
      }
    }
  }

  /* line 53, ../../sass/wiki_block/wiki_block.scss */
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  div.title-wiki-block a {
    color: #9ea03d;
    text-decoration: none;
    font-size: 170%;
    background: #fff;
    margin-left: -4px;
  }
  hr.wiki_img_hr {
    margin-top: -2.8%;
    height: 2px;
    color: #9ea03d;
    background-color: #9ea03d;
  }
  div {
    &.research-topics-title-and-text {
      border-color: #DCDCDC !important;
      border: 1px solid;
      margin-top: 12px;
    }
    &.art-rel-list {
      padding: 0 25px 15px 25px;
    }
    &.research-topics-title-and-text {
      width: 90%;
      margin-left: 5%;
    }
    &.url_img_wiki {
      width: 50%;
      display: inline-block;
      margin: auto;
      vertical-align: middle;
    }
  }
  a {
    &.class_all {
      width: 15%;
      left: 12%;
      top: 45%;
      color: red;
      font-size: 150%;
      position: fixed;
    }
    &.class_link {
      font-size: 150%;
      position: fixed;
      width: 3%;
      left: 27.6%;
      top: 45%;
      color: red;
    }
  }
  .url_img_wiki a {
    &.class_link {
      font-size: 150%;
      position: fixed;
      color: red;
      width: 4%;
      left: 27%;
      top: 45%;
    }
    &.class_all {
      width: 14%;
      left: 9.2%;
      top: 45%;
    }
  }
  div.wiki_class_popap img {
    right: 70%;
    top: 45%;
  }
  a.title-wiki-block-popap div.popap-wiki {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    a {
      color: #337ab7;
      text-decoration: none;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      &:hover {
        color: #23527c;
        text-decoration: underline;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
      }
    }
  }

  /* line 53, ../../sass/wiki_block/wiki_block.scss */
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  div.title-wiki-block a {
    color: #9ea03d;
    text-decoration: none;
    font-size: 170%;
    background: #fff;
    margin-left: -4px;
  }
  hr.wiki_img_hr {
    margin-top: -2.8%;
    height: 2px;
    color: #9ea03d;
    background-color: #9ea03d;
  }
  div {
    &.research-topics-title-and-text {
      border-color: #DCDCDC !important;
      border: 1px solid;
      margin-top: 12px;
    }
    &.art-rel-list {
      padding: 0 25px 15px 25px;
    }
    &.research-topics-title-and-text {
      width: 90%;
      margin-left: 5%;
    }
    &.url_img_wiki {
      width: 50%;
      display: inline-block;
      margin: auto;
      vertical-align: middle;
    }
  }
  a {
    &.class_all {
      width: 15%;
      left: 70.2%;
      top: 10%;
      color: red;
      font-size: 150%;
      position: fixed;
    }
    &.class_link {
      font-size: 150%;
      position: fixed;
      width: 3%;
      left: 87%;
      top: 10%;
      color: red;
    }
  }
  .url_img_wiki a {
    &.class_link {
      font-size: 150%;
      position: fixed;
      color: red;
      width: 4%;
      left: 87%;
      top: 10%;
    }
    &.class_all {
      width: 14%;
      left: 70.2%;
      top: 10%;
    }
  }
  div.wiki_class_popap img {
    width: 50%!important;
    right: 10%;
    top: 10%;
  }
  a.title-wiki-block-popap div.popap-wiki {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    a {
      color: #337ab7;
      text-decoration: none;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      &:hover {
        color: #23527c;
        text-decoration: underline;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
      }
    }
  }

  /* line 53, ../../sass/wiki_block/wiki_block.scss */
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  div.title-wiki-block a {
    color: #9ea03d;
    text-decoration: none;
    font-size: 170%;
    background: #fff;
    margin-left: -4px;
  }
  hr.wiki_img_hr {
    margin-top: -2.8%;
    height: 2px;
    color: #9ea03d;
    background-color: #9ea03d;
  }
  div {
    &.research-topics-title-and-text {
      border-color: #DCDCDC !important;
      border: 1px solid;
      margin-top: 12px;
    }
    &.art-rel-list {
      padding: 0 25px 15px 25px;
    }
    &.research-topics-title-and-text {
      width: 90%;
      margin-left: 5%;
    }
    &.url_img_wiki {
      width: 50%;
      display: inline-block;
      margin: auto;
      vertical-align: middle;
    }
  }
  a {
    &.class_all {
      width: 15%;
      left: 60%;
      top: 15%;
      color: red;
      font-size: 150%;
      position: fixed;
    }
    &.class_link {
      font-size: 150%;
      position: fixed;
      width: 3%;
      left: 76.6%;
      top: 15%;
      color: red;
    }
  }
  .url_img_wiki a {
    &.class_link {
      font-size: 150%;
      position: fixed;
      color: red;
      width: 4%;
      left: 77%;
      top: 15%;
    }
    &.class_all {
      width: 14%;
      left: 59.2%;
      top: 15%;
    }
  }
  div.wiki_class_popap img {
    width: 60%!important;
    right: 20%;
    top: 15%;
  }
  a.title-wiki-block-popap div.popap-wiki {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    a {
      color: #337ab7;
      text-decoration: none;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      &:hover {
        color: #23527c;
        text-decoration: underline;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
      }
    }
  }

  /* line 53, ../../sass/wiki_block/wiki_block.scss */
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  div.title-wiki-block a {
    color: #9ea03d;
    text-decoration: none;
    font-size: 170%;
    background: #fff;
    margin-left: -4px;
  }
  hr.wiki_img_hr {
    margin-top: -2.8%;
    height: 2px;
    color: #9ea03d;
    background-color: #9ea03d;
  }
  div {
    &.research-topics-title-and-text {
      border-color: #DCDCDC !important;
      border: 1px solid;
      margin-top: 12px;
    }
    &.art-rel-list {
      padding: 0 25px 15px 25px;
    }
    &.research-topics-title-and-text {
      width: 90%;
      margin-left: 5%;
    }
    &.url_img_wiki {
      width: 100%;
      display: inline-block;
      margin: auto;
      vertical-align: middle;
    }
  }
  a {
    &.class_all {
      width: 25%;
      left: 48%;
      top: 5%;
      color: red;
      font-size: 150%;
      position: fixed;
    }
    &.class_link {
      font-size: 150%;
      position: fixed;
      width: 3%;
      left: 77.6%;
      top: 5%;
      color: red;
    }
  }
  .url_img_wiki a {
    &.class_link {
      font-size: 150%;
      position: fixed;
      color: red;
      width: 4%;
      left: 75%;
      top: 5%;
    }
    &.class_all {
      width: 27%;
      left: 48%;
      top: 5%;
    }
  }
  div.wiki_class_popap img {
    width: 70%!important;
    right: 17%;
    top: 5%;
  }
  a.title-wiki-block-popap div.popap-wiki {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    a {
      color: #337ab7;
      text-decoration: none;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      &:hover {
        color: #23527c;
        text-decoration: underline;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
      }
    }
  }

  /* line 53, ../../sass/wiki_block/wiki_block.scss */
}
