div.wiki_img_block {
  background: #fff; }

#block-wikichannelblock h2.block-title {
  text-align: center; }

div.url_img_wiki {
  width: 50%;
  display: inline-block;
  margin: auto;
  vertical-align: middle; }

p.text_title_wiki {
  text-align: center;
  width: 85%; }

div.url_img_wiki img {
  width: 90%;
  border: solid white 8px;
  border-image: url(/sites/default/files/2019-02/stamp_border-8f88b7335a523ea2a3d9df840d39a22617cae5a93b24f67ae9e149992ab6a64a.jpg) 28;
  border-image-repeat: round; }
div.title-wiki-block a {
  color: #9ea03d;
  text-decoration: none;
  font-size: 170%;
  background: #fff;
  margin-left: -4px; }
  div.title-wiki-block a.title-wiki-block-popap {
    margin-left: 10px; }

hr.wiki_img_hr {
  margin-top: -1.8%;
  height: 2px;
  color: #9ea03d;
  background-color: #9ea03d; }

a.title-wiki-block-popap div.popap-wiki a {
  color: #337ab7;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; }
  a.title-wiki-block-popap div.popap-wiki a:hover {
    color: #23527c;
    text-decoration: underline;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px; }
a.class_link {
  font-size: 190%;
  position: fixed;
  width: 3%;
  left: 87.6%;
  top: 15%;
  color: red; }
a.class_all {
  font-size: 190%;
  position: fixed;
  width: 6%;
  left: 81.8%;
  top: 15%;
  color: red; }

.url_img_wiki a.class_link {
  width: 3%;
  left: 88.9%;
  top: 15%; }
.url_img_wiki a.class_all {
  width: 6%;
  left: 82.2%;
  top: 15%; }

div.style-popap-wiki {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff; }

@media only screen and (max-width: 1440px) {
  a.class_all {
    font-size: 190%;
    position: fixed;
    width: 8%;
    left: 79.8%;
    top: 15%;
    color: red; }

  .url_img_wiki a.class_all {
    width: 13%;
    left: 80.2%;
    top: 15%; } }
@media only screen and (max-width: 1366px) {
  a.class_link {
    left: 87.5%; }
  a.class_all {
    width: 7%;
    left: 79%;
    top: 15%; }

  .url_img_wiki a.class_link {
    width: 4%;
    left: 88.3%;
    top: 15%; }
  .url_img_wiki a.class_all {
    width: 9%;
    left: 79.2%;
    top: 15%; }

  hr.wiki_img_hr {
    margin-top: -2.5%; }

  .class_popap {
    max-height: 400px; } }
@media only screen and (max-width: 1024px) {
  .url_img_wiki a.class_all {
    width: 11%;
    left: 76.2%;
    top: 15%; } }
@media only screen and (max-width: 768px) {
  a.class_all {
    width: 10%;
    left: 76%; }

  .url_img_wiki a.class_all {
    width: 13%;
    left: 74.2%;
    top: 15%; }

  .class_popap {
    max-height: 800px !important; } }
@media only screen and (max-width: 425px) {
  a.class_all {
    width: 14%;
    left: 71%;
    font-size: 170%; }

  .url_img_wiki a.class_link {
    width: 4%;
    left: 86.3%;
    top: 15%; }
  .url_img_wiki a.class_all {
    width: 19%;
    left: 65.2%;
    top: 15%; }

  div.wiki_class_popap img {
    width: 50% !important; } }
@media only screen and (max-width: 375px) {
  .url_img_wiki a.class_all {
    width: 19%;
    left: 66.2%;
    top: 15%; }
  .url_img_wiki a.class_link {
    width: 4%;
    left: 86.3%;
    top: 15%; } }
@media only screen and (max-width: 320px) {
  .url_img_wiki a.class_all {
    width: 19%;
    left: 67.2%;
    top: 15%; }
  .url_img_wiki a.class_link {
    width: 4%;
    left: 86.3%;
    top: 15%; } }

/*# sourceMappingURL=wiki_block.css.map */
