{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - classes: A list of classes to apply to the top level <ul> element.
 * - dropdown_classes: A list of classes to apply to the dropdown <ul> element.
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{#{% extends "menu.html.twig" %}#}
{#<a href="https://twitter.com/intent/tweet?text=The%20entire%20wikipedia%20with%20video%20and%20photo%20galleries.%20Find%20something%20interesting%20to%20watch%20in%20seconds:%20http://wikivisually.loc" target="_blank" title="Share on Twitter"><i class="fa fa-lg fa-twitter twitter_white twitter_hover_yellow">lalala</i></a>#}
{%
  set classes = [
    'menu',
    'menu--' ~ menu_name|clean_class,
    'nav',
    'navbar-nav',
  ]
%}
