/* Large desktops */
@media (min-width: 1400px) {
  /* line 4, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock div#youtube-block ul {
    height: 100px !important;
  }
  /* line 7, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock div.class-overflow {
    height: 200px !important;
  }
}
/* Large laptops */
@media (min-width: 1200px) {
  /* line 16, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock .youtube-stat {
    color: #50b432;
  }
  /* line 19, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock h2.block-title {
    text-align: center;
    font-weight: bold;
  }

  /* line 24, ../../sass/youtube_search/youtube_search.scss */
  .youtubesearch-close {
    display: none;
    z-index: 9999;
    position: fixed;
    left: 85%;
    color: #f4dbdb;
    font-size: 220%;
    top: 0%;
  }
  /* line 32, ../../sass/youtube_search/youtube_search.scss */
  .youtubesearch-close:hover {
    text-decoration: none;
  }

  /* line 36, ../../sass/youtube_search/youtube_search.scss */
  .youtubesearch-frame {
    display: none;
    position: fixed;
    width: 70%;
    right: 17%;
    height: 89%;
    top: 7%;
    box-shadow: 0px 60px 1340px 540px #c91a1a;
    z-index: 5;
  }

  /* line 48, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock div#youtube-block ul {
    float: left;
    width: 50%;
    height: 70px;
  }
  /* line 52, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock div#youtube-block ul:nth-child(2n+1) {
    clear: both;
  }
  /* line 57, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock div#youtube-block div.title, #block-youtubesearchblock div#youtube-block div.youtube-stat {
    position: relative;
    left: 35%;
    bottom: 70px;
    width: 72%;
  }
  /* line 65, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock div.class-overflow {
    height: 160px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 75, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock .youtube-stat {
    color: #50b432;
  }

  /* line 78, ../../sass/youtube_search/youtube_search.scss */
  .youtubesearch-close {
    display: none;
    z-index: 9999;
    position: fixed;
    left: 85%;
    color: #f4dbdb;
    font-size: 220%;
    top: 0%;
  }
  /* line 86, ../../sass/youtube_search/youtube_search.scss */
  .youtubesearch-close:hover {
    text-decoration: none;
  }

  /* line 90, ../../sass/youtube_search/youtube_search.scss */
  .youtubesearch-frame {
    display: none;
    position: fixed;
    width: 70%;
    right: 17%;
    height: 89%;
    top: 7%;
    box-shadow: 0px 60px 1340px 540px #c91a1a;
    z-index: 5;
  }

  /* line 102, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock div#youtube-block ul {
    float: left;
    width: 50%;
    height: 70px;
  }
  /* line 108, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock div#youtube-block div.title, #block-youtubesearchblock div#youtube-block div.youtube-stat {
    position: relative;
    left: 35%;
    bottom: 55px;
    width: 72%;
  }
  /* line 116, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock div.class-overflow {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  /* line 127, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock h2.block-title {
    text-align: center;
    font-weight: bold;
  }
  /* line 132, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock div.title, #block-youtubesearchblock div.youtube-stat {
    position: relative;
    left: 45%;
    top: -380px;
    width: 40%;
    font-size: x-large;
  }
  /* line 139, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock div.class-overflow {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  /* line 146, ../../sass/youtube_search/youtube_search.scss */
  .youtubesearch-close {
    display: none;
    z-index: 9999;
    position: fixed;
    left: 85%;
    color: #f4dbdb;
    font-size: 220%;
    top: 0%;
  }

  /* line 155, ../../sass/youtube_search/youtube_search.scss */
  .youtubesearch-frame {
    display: none;
    position: fixed;
    width: 70%;
    right: 17%;
    height: 89%;
    top: 7%;
    box-shadow: 0px 60px 1340px 540px #c91a1a;
    z-index: 5;
  }

  /* line 165, ../../sass/youtube_search/youtube_search.scss */
  .youtubesearch-close:hover {
    text-decoration: none;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /* line 173, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock .youtube-stat {
    color: #50b432;
  }
  /* line 176, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock h2.block-title {
    text-align: center;
    font-weight: bold;
  }
  /* line 181, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock div.title, #block-youtubesearchblock div.youtube-stat {
    position: relative;
    left: 55%;
    top: -230px;
    width: 40%;
    font-size: x-large;
  }
  /* line 188, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock div.class-overflow {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  /* line 195, ../../sass/youtube_search/youtube_search.scss */
  .youtubesearch-close {
    display: none;
    z-index: 9999;
    position: fixed;
    left: 85%;
    color: #f4dbdb;
    font-size: 220%;
    top: 0%;
  }
  /* line 203, ../../sass/youtube_search/youtube_search.scss */
  .youtubesearch-close:hover {
    text-decoration: none;
  }

  /* line 207, ../../sass/youtube_search/youtube_search.scss */
  .youtubesearch-frame {
    display: none;
    position: fixed;
    width: 70%;
    right: 17%;
    height: 89%;
    top: 7%;
    box-shadow: 0px 60px 1340px 540px #c91a1a;
    z-index: 5;
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  /* line 222, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock .youtube-stat {
    color: #50b432;
  }
  /* line 225, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock h2.block-title {
    text-align: center;
    font-weight: bold;
  }
  /* line 230, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock div.title, #block-youtubesearchblock div.youtube-stat {
    position: relative;
    left: 55%;
    top: -110px;
    width: 40%;
    font-size: small;
  }

  /* line 239, ../../sass/youtube_search/youtube_search.scss */
  .youtubesearch-close {
    display: none;
    z-index: 9999;
    position: fixed;
    left: 85%;
    color: #f4dbdb;
    font-size: 220%;
    top: 0%;
  }
  /* line 247, ../../sass/youtube_search/youtube_search.scss */
  .youtubesearch-close:hover {
    text-decoration: none;
  }

  /* line 251, ../../sass/youtube_search/youtube_search.scss */
  .youtubesearch-frame {
    display: none;
    position: fixed;
    width: 70%;
    right: 17%;
    height: 89%;
    top: 7%;
    box-shadow: 0px 60px 1340px 540px #c91a1a;
    z-index: 5;
  }

  /* line 261, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock div.class-overflow {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
