/* line 1, ../../sass/youtube_search/youtube_search.scss */
div#youtube-block {
  min-width: 108%;
}

/* line 5, ../../sass/youtube_search/youtube_search.scss */
#youtube-block img {
  border: 1px solid #c3c3c3;
  height: 160px;
  padding: 0px;
}
/* line 10, ../../sass/youtube_search/youtube_search.scss */
#youtube-block li {
  list-style-type: none;
}
/* line 13, ../../sass/youtube_search/youtube_search.scss */
#youtube-block .youtube-stat {
  color: #50b432;
}

/* line 17, ../../sass/youtube_search/youtube_search.scss */
#block-youtubesearchblock #youtube-block .right-stat {
  position: relative;
  left: 27%;
  top: -100px;
}

/* line 22, ../../sass/youtube_search/youtube_search.scss */
.youtubesearch-frame {
  display: none;
  position: absolute;
  width: 130%;
  right: 40%;
  height: 225%;
  top: -20%;
  box-shadow: 0px 60px 1340px 540px #c91a1a;
  z-index: 5;
}

/* line 32, ../../sass/youtube_search/youtube_search.scss */
.youtubesearch-close {
  display: none;
  z-index: 9999;
  position: absolute;
  left: 80%;
  bottom: 110%;
  color: #f4dbdb;
  font-size: 220%;
}

/* line 41, ../../sass/youtube_search/youtube_search.scss */
#youtube-block a.youtubesearch-close {
  text-decoration: none;
}

/* line 44, ../../sass/youtube_search/youtube_search.scss */
aside.page_wiki {
  padding: 0px;
  left: 5%;
}

/* line 50, ../../sass/youtube_search/youtube_search.scss */
#block-youtubesearchblock div.class-overflow {
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}
/* line 55, ../../sass/youtube_search/youtube_search.scss */
#block-youtubesearchblock div ul {
  padding: 0px;
}
/* line 58, ../../sass/youtube_search/youtube_search.scss */
#block-youtubesearchblock div.left-stat img {
  width: 155px;
  height: 89px;
}
/* line 64, ../../sass/youtube_search/youtube_search.scss */
#block-youtubesearchblock ul li div.title {
  position: relative;
  top: -80px;
  left: 32%;
  width: 260px;
}
/* line 70, ../../sass/youtube_search/youtube_search.scss */
#block-youtubesearchblock ul li div.youtube-stat {
  position: relative;
  top: -80px;
  left: 160px;
  width: 200px;
}
/* line 78, ../../sass/youtube_search/youtube_search.scss */
#block-youtubesearchblock div#youtube-block ul li {
  width: 500px;
  height: 100px;
}
/* line 82, ../../sass/youtube_search/youtube_search.scss */
#block-youtubesearchblock div#youtube-block ul:nth-child(2n+1) {
  float: right;
}

@media only screen and (max-width: 1366px) {
  /* line 88, ../../sass/youtube_search/youtube_search.scss */
  aside.page_wiki {
    padding: 0px;
    left: 4%;
  }

  /* line 92, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock div.class-overflow {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  /* line 97, ../../sass/youtube_search/youtube_search.scss */
  .youtubesearch-frame {
    display: none;
    position: absolute;
    width: 98%;
    right: 50%;
    height: 10%;
    top: -3%;
    box-shadow: 0px 60px 1340px 540px #c91a1a;
    z-index: 5;
  }

  /* line 107, ../../sass/youtube_search/youtube_search.scss */
  .youtubesearch-close {
    display: none;
    z-index: 9999;
    position: absolute;
    left: 80%;
    bottom: 102%;
    color: #f4dbdb;
    font-size: 170%;
  }

  /* line 116, ../../sass/youtube_search/youtube_search.scss */
  #youtube-block a.youtubesearch-close {
    text-decoration: none;
  }

  /* line 119, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock {
    position: unset;
    width: 109%;
  }
  /* line 122, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock div.left-stat img {
    width: 155px;
    height: 89px;
  }
  /* line 127, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock ul li div.title {
    position: relative;
    top: -80px;
    left: 45%;
    width: 160px;
  }
  /* line 133, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock ul li div.youtube-stat {
    position: relative;
    top: -80px;
    left: 160px;
    width: 200px;
  }
  /* line 141, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock div#youtube-block ul li {
    width: 350px;
    height: 110px;
  }
  /* line 145, ../../sass/youtube_search/youtube_search.scss */
  #block-youtubesearchblock div#youtube-block ul:nth-child(2n+1) {
    float: right;
  }
}
