/* line 2, ../../sass/research_topics/research_topics.scss */
div.research-topics-title-and-text {
  border-color: #DCDCDC !important;
  border: 1px solid;
  margin-top: 12px;
}
/* line 7, ../../sass/research_topics/research_topics.scss */
div.art-rel-list {
  font-size: 14px;
  padding: 0 50px 15px 50px;
}
/* line 11, ../../sass/research_topics/research_topics.scss */
div.taxonomy-block-none {
  display: none;
}
/* line 14, ../../sass/research_topics/research_topics.scss */
div.region-content h2.block-title {
  text-align: center;
}
div.views-row.clearfix {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1366px) {
  /* line 20, ../../sass/research_topics/research_topics.scss */
  div.art-rel-list {
    padding: 0 25px 15px 25px;
  }
}
