/* Large desktops */
@media (min-width: 1400px) {
  /* line 4, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_link {
    width: 3% !important;
    left: 88.9% !important;
  }
  /* line 8, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_all {
    width: 6% !important;
    left: 82.2% !important;
  }

  /* line 14, ../../sass/wiki_block/wiki_block.scss */
  a.class_all {
    width: 6% !important;
    left: 82% !important;
    top: 15% !important;
  }
  /* line 19, ../../sass/wiki_block/wiki_block.scss */
  a.class_link {
    width: 3% !important;
    left: 88% !important;
    top: 15% !important;
  }
}
/* Large laptops */
@media (min-width: 1200px) {
  /* line 29, ../../sass/wiki_block/wiki_block.scss */
  div.title-wiki-block a {
    color: #9ea03d;
    text-decoration: none;
    font-size: 170%;
    background: #fff;
    margin-left: -4px;
  }

  /* line 36, ../../sass/wiki_block/wiki_block.scss */
  hr.wiki_img_hr {
    margin-top: -1.8%;
    height: 2px;
    color: #9ea03d;
    background-color: #9ea03d;
  }

  /* line 43, ../../sass/wiki_block/wiki_block.scss */
  div.research-topics-title-and-text {
    border-color: #DCDCDC !important;
    border: 1px solid;
    margin-top: 12px;
  }
  /* line 48, ../../sass/wiki_block/wiki_block.scss */
  div.art-rel-list {
    padding: 0 25px 15px 25px;
  }
  /* line 51, ../../sass/wiki_block/wiki_block.scss */
  div.research-topics-title-and-text {
    width: 90%;
    margin-left: 5%;
  }
  /* line 55, ../../sass/wiki_block/wiki_block.scss */
  div.url_img_wiki {
    width: 50%;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
  }

  /* line 63, ../../sass/wiki_block/wiki_block.scss */
  a.class_all {
    width: 7%;
    left: 79%;
    top: 15%;
    color: red;
    font-size: 150%;
    position: fixed;
  }
  /* line 71, ../../sass/wiki_block/wiki_block.scss */
  a.class_link {
    font-size: 150%;
    position: fixed;
    width: 3%;
    left: 87.6%;
    top: 15%;
    color: red;
  }

  /* line 81, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_link {
    font-size: 150%;
    position: fixed;
    color: red;
    width: 4%;
    left: 88.3%;
    top: 15%;
  }
  /* line 89, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_all {
    width: 9%;
    left: 79.2%;
    top: 15%;
  }

  /* line 95, ../../sass/wiki_block/wiki_block.scss */
  div.wiki_class_popap img {
    right: 10%;
    top: 15%;
  }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 103, ../../sass/wiki_block/wiki_block.scss */
  div.title-wiki-block a {
    color: #9ea03d;
    text-decoration: none;
    font-size: 170%;
    background: #fff;
    margin-left: -4px;
  }

  /* line 110, ../../sass/wiki_block/wiki_block.scss */
  hr.wiki_img_hr {
    margin-top: -2.8%;
    height: 2px;
    color: #9ea03d;
    background-color: #9ea03d;
  }

  /* line 117, ../../sass/wiki_block/wiki_block.scss */
  div.research-topics-title-and-text {
    border-color: #DCDCDC !important;
    border: 1px solid;
    margin-top: 12px;
  }
  /* line 122, ../../sass/wiki_block/wiki_block.scss */
  div.art-rel-list {
    padding: 0 25px 15px 25px;
  }
  /* line 125, ../../sass/wiki_block/wiki_block.scss */
  div.research-topics-title-and-text {
    width: 90%;
    margin-left: 5%;
  }
  /* line 129, ../../sass/wiki_block/wiki_block.scss */
  div.url_img_wiki {
    width: 50%;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
  }

  /* line 137, ../../sass/wiki_block/wiki_block.scss */
  a.class_all {
    width: 15%;
    left: 12%;
    top: 45%;
    color: red;
    font-size: 150%;
    position: fixed;
  }
  /* line 145, ../../sass/wiki_block/wiki_block.scss */
  a.class_link {
    font-size: 150%;
    position: fixed;
    width: 3%;
    left: 27.6%;
    top: 45%;
    color: red;
  }

  /* line 155, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_link {
    font-size: 150%;
    position: fixed;
    color: red;
    width: 4%;
    left: 27%;
    top: 45%;
  }
  /* line 163, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_all {
    width: 14%;
    left: 9.2%;
    top: 45%;
  }

  /* line 169, ../../sass/wiki_block/wiki_block.scss */
  div.wiki_class_popap img {
    right: 70%;
    top: 45%;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  /* line 177, ../../sass/wiki_block/wiki_block.scss */
  div.title-wiki-block a {
    color: #9ea03d;
    text-decoration: none;
    font-size: 170%;
    background: #fff;
    margin-left: -4px;
  }

  /* line 184, ../../sass/wiki_block/wiki_block.scss */
  hr.wiki_img_hr {
    margin-top: -2.8%;
    height: 2px;
    color: #9ea03d;
    background-color: #9ea03d;
  }

  /* line 191, ../../sass/wiki_block/wiki_block.scss */
  div.research-topics-title-and-text {
    border-color: #DCDCDC !important;
    border: 1px solid;
    margin-top: 12px;
  }
  /* line 196, ../../sass/wiki_block/wiki_block.scss */
  div.art-rel-list {
    padding: 0 25px 15px 25px;
  }
  /* line 199, ../../sass/wiki_block/wiki_block.scss */
  div.research-topics-title-and-text {
    width: 90%;
    margin-left: 5%;
  }
  /* line 203, ../../sass/wiki_block/wiki_block.scss */
  div.url_img_wiki {
    width: 50%;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
  }

  /* line 211, ../../sass/wiki_block/wiki_block.scss */
  a.class_all {
    width: 15%;
    left: 12%;
    top: 45%;
    color: red;
    font-size: 150%;
    position: fixed;
  }
  /* line 219, ../../sass/wiki_block/wiki_block.scss */
  a.class_link {
    font-size: 150%;
    position: fixed;
    width: 3%;
    left: 27.6%;
    top: 45%;
    color: red;
  }

  /* line 229, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_link {
    font-size: 150%;
    position: fixed;
    color: red;
    width: 4%;
    left: 27%;
    top: 45%;
  }
  /* line 237, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_all {
    width: 14%;
    left: 9.2%;
    top: 45%;
  }

  /* line 243, ../../sass/wiki_block/wiki_block.scss */
  div.wiki_class_popap img {
    right: 70%;
    top: 45%;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /* line 251, ../../sass/wiki_block/wiki_block.scss */
  div.title-wiki-block a {
    color: #9ea03d;
    text-decoration: none;
    font-size: 170%;
    background: #fff;
    margin-left: -4px;
  }

  /* line 258, ../../sass/wiki_block/wiki_block.scss */
  hr.wiki_img_hr {
    margin-top: -2.8%;
    height: 2px;
    color: #9ea03d;
    background-color: #9ea03d;
  }

  /* line 265, ../../sass/wiki_block/wiki_block.scss */
  div.research-topics-title-and-text {
    border-color: #DCDCDC !important;
    border: 1px solid;
    margin-top: 12px;
  }
  /* line 270, ../../sass/wiki_block/wiki_block.scss */
  div.art-rel-list {
    padding: 0 25px 15px 25px;
  }
  /* line 273, ../../sass/wiki_block/wiki_block.scss */
  div.research-topics-title-and-text {
    width: 90%;
    margin-left: 5%;
  }
  /* line 277, ../../sass/wiki_block/wiki_block.scss */
  div.url_img_wiki {
    width: 50%;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
  }

  /* line 285, ../../sass/wiki_block/wiki_block.scss */
  a.class_all {
    width: 15%;
    left: 12%;
    top: 45%;
    color: red;
    font-size: 150%;
    position: fixed;
  }
  /* line 293, ../../sass/wiki_block/wiki_block.scss */
  a.class_link {
    font-size: 150%;
    position: fixed;
    width: 3%;
    left: 27.6%;
    top: 45%;
    color: red;
  }

  /* line 303, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_link {
    font-size: 150%;
    position: fixed;
    color: red;
    width: 4%;
    left: 27%;
    top: 45%;
  }
  /* line 311, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_all {
    width: 14%;
    left: 9.2%;
    top: 45%;
  }

  /* line 317, ../../sass/wiki_block/wiki_block.scss */
  div.wiki_class_popap img {
    right: 70%;
    top: 45%;
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  /* line 325, ../../sass/wiki_block/wiki_block.scss */
  div.title-wiki-block a {
    color: #9ea03d;
    text-decoration: none;
    font-size: 170%;
    background: #fff;
    margin-left: -4px;
  }

  /* line 332, ../../sass/wiki_block/wiki_block.scss */
  hr.wiki_img_hr {
    margin-top: -2.8%;
    height: 2px;
    color: #9ea03d;
    background-color: #9ea03d;
  }

  /* line 339, ../../sass/wiki_block/wiki_block.scss */
  div.research-topics-title-and-text {
    border-color: #DCDCDC !important;
    border: 1px solid;
    margin-top: 12px;
  }
  /* line 344, ../../sass/wiki_block/wiki_block.scss */
  div.art-rel-list {
    padding: 0 25px 15px 25px;
  }
  /* line 347, ../../sass/wiki_block/wiki_block.scss */
  div.research-topics-title-and-text {
    width: 90%;
    margin-left: 5%;
  }
  /* line 351, ../../sass/wiki_block/wiki_block.scss */
  div.url_img_wiki {
    width: 50%;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
  }

  /* line 359, ../../sass/wiki_block/wiki_block.scss */
  a.class_all {
    width: 15%;
    left: 12%;
    top: 45%;
    color: red;
    font-size: 150%;
    position: fixed;
  }
  /* line 367, ../../sass/wiki_block/wiki_block.scss */
  a.class_link {
    font-size: 150%;
    position: fixed;
    width: 3%;
    left: 27.6%;
    top: 45%;
    color: red;
  }

  /* line 377, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_link {
    font-size: 150%;
    position: fixed;
    color: red;
    width: 4%;
    left: 27%;
    top: 45%;
  }
  /* line 385, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_all {
    width: 14%;
    left: 9.2%;
    top: 45%;
  }

  /* line 391, ../../sass/wiki_block/wiki_block.scss */
  div.wiki_class_popap img {
    right: 70%;
    top: 45%;
  }
}
