/* Large desktops */
@media (min-width: 1400px) {
  /* line 4, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_link {
    width: 3% !important;
    left: 88.9% !important;
  }
  /* line 8, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_all {
    width: 6% !important;
    left: 82.2% !important;
  }

  /* line 14, ../../sass/wiki_block/wiki_block.scss */
  a.class_all {
    width: 6% !important;
    left: 82% !important;
    top: 15% !important;
  }
  /* line 19, ../../sass/wiki_block/wiki_block.scss */
  a.class_link {
    width: 3% !important;
    left: 88% !important;
    top: 15% !important;
  }
}
/* Large laptops */
@media (min-width: 1200px) {
  /* line 29, ../../sass/wiki_block/wiki_block.scss */
  div.title-wiki-block a {
    color: #9ea03d;
    text-decoration: none;
    font-size: 170%;
    background: #fff;
    margin-left: -4px;
  }

  /* line 36, ../../sass/wiki_block/wiki_block.scss */
  hr.wiki_img_hr {
    margin-top: -1.8%;
    height: 2px;
    color: #9ea03d;
    background-color: #9ea03d;
  }

  /* line 43, ../../sass/wiki_block/wiki_block.scss */
  div.research-topics-title-and-text {
    border-color: #DCDCDC !important;
    border: 1px solid;
    margin-top: 12px;
  }
  /* line 48, ../../sass/wiki_block/wiki_block.scss */
  div.art-rel-list {
    padding: 0 25px 15px 25px;
  }
  /* line 51, ../../sass/wiki_block/wiki_block.scss */
  div.research-topics-title-and-text {
    width: 90%;
    margin-left: 5%;
  }
  /* line 55, ../../sass/wiki_block/wiki_block.scss */
  div.url_img_wiki {
    width: 50%;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
  }

  /* line 63, ../../sass/wiki_block/wiki_block.scss */
  a.class_all {
    width: 7%;
    left: 79%;
    top: 15%;
    color: red;
    font-size: 150%;
    position: fixed;
  }
  /* line 71, ../../sass/wiki_block/wiki_block.scss */
  a.class_link {
    font-size: 150%;
    position: fixed;
    width: 3%;
    left: 87.6%;
    top: 15%;
    color: red;
  }

  /* line 81, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_link {
    font-size: 150%;
    position: fixed;
    color: red;
    width: 4%;
    left: 88.3%;
    top: 15%;
  }
  /* line 89, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_all {
    width: 9%;
    left: 79.2%;
    top: 15%;
  }

  /* line 95, ../../sass/wiki_block/wiki_block.scss */
  div.wiki_class_popap img {
    right: 10%;
    top: 15%;
  }

  /* line 99, ../../sass/wiki_block/wiki_block.scss */
  a.title-wiki-block-popap div.popap-wiki {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }
  /* line 103, ../../sass/wiki_block/wiki_block.scss */
  a.title-wiki-block-popap div.popap-wiki a {
    color: #337ab7;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }
  /* line 108, ../../sass/wiki_block/wiki_block.scss */
  a.title-wiki-block-popap div.popap-wiki a:hover {
    color: #23527c;
    text-decoration: underline;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }

  /* line 53, ../../sass/wiki_block/wiki_block.scss */
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 122, ../../sass/wiki_block/wiki_block.scss */
  div.title-wiki-block a {
    color: #9ea03d;
    text-decoration: none;
    font-size: 170%;
    background: #fff;
    margin-left: -4px;
  }

  /* line 129, ../../sass/wiki_block/wiki_block.scss */
  hr.wiki_img_hr {
    margin-top: -2.8%;
    height: 2px;
    color: #9ea03d;
    background-color: #9ea03d;
  }

  /* line 136, ../../sass/wiki_block/wiki_block.scss */
  div.research-topics-title-and-text {
    border-color: #DCDCDC !important;
    border: 1px solid;
    margin-top: 12px;
  }
  /* line 141, ../../sass/wiki_block/wiki_block.scss */
  div.art-rel-list {
    padding: 0 25px 15px 25px;
  }
  /* line 144, ../../sass/wiki_block/wiki_block.scss */
  div.research-topics-title-and-text {
    width: 90%;
    margin-left: 5%;
  }
  /* line 148, ../../sass/wiki_block/wiki_block.scss */
  div.url_img_wiki {
    width: 50%;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
  }

  /* line 156, ../../sass/wiki_block/wiki_block.scss */
  a.class_all {
    width: 15%;
    left: 12%;
    top: 45%;
    color: red;
    font-size: 150%;
    position: fixed;
  }
  /* line 164, ../../sass/wiki_block/wiki_block.scss */
  a.class_link {
    font-size: 150%;
    position: fixed;
    width: 3%;
    left: 27.6%;
    top: 45%;
    color: red;
  }

  /* line 174, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_link {
    font-size: 150%;
    position: fixed;
    color: red;
    width: 4%;
    left: 27%;
    top: 45%;
  }
  /* line 182, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_all {
    width: 14%;
    left: 9.2%;
    top: 45%;
  }

  /* line 188, ../../sass/wiki_block/wiki_block.scss */
  div.wiki_class_popap img {
    right: 70%;
    top: 45%;
  }

  /* line 192, ../../sass/wiki_block/wiki_block.scss */
  a.title-wiki-block-popap div.popap-wiki {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }
  /* line 196, ../../sass/wiki_block/wiki_block.scss */
  a.title-wiki-block-popap div.popap-wiki a {
    color: #337ab7;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }
  /* line 201, ../../sass/wiki_block/wiki_block.scss */
  a.title-wiki-block-popap div.popap-wiki a:hover {
    color: #23527c;
    text-decoration: underline;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }

  /* line 53, ../../sass/wiki_block/wiki_block.scss */
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  /* line 215, ../../sass/wiki_block/wiki_block.scss */
  div.title-wiki-block a {
    color: #9ea03d;
    text-decoration: none;
    font-size: 170%;
    background: #fff;
    margin-left: -4px;
  }

  /* line 222, ../../sass/wiki_block/wiki_block.scss */
  hr.wiki_img_hr {
    margin-top: -2.8%;
    height: 2px;
    color: #9ea03d;
    background-color: #9ea03d;
  }

  /* line 229, ../../sass/wiki_block/wiki_block.scss */
  div.research-topics-title-and-text {
    border-color: #DCDCDC !important;
    border: 1px solid;
    margin-top: 12px;
  }
  /* line 234, ../../sass/wiki_block/wiki_block.scss */
  div.art-rel-list {
    padding: 0 25px 15px 25px;
  }
  /* line 237, ../../sass/wiki_block/wiki_block.scss */
  div.research-topics-title-and-text {
    width: 90%;
    margin-left: 5%;
  }
  /* line 241, ../../sass/wiki_block/wiki_block.scss */
  div.url_img_wiki {
    width: 50%;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
  }

  /* line 249, ../../sass/wiki_block/wiki_block.scss */
  a.class_all {
    width: 15%;
    left: 12%;
    top: 45%;
    color: red;
    font-size: 150%;
    position: fixed;
  }
  /* line 257, ../../sass/wiki_block/wiki_block.scss */
  a.class_link {
    font-size: 150%;
    position: fixed;
    width: 3%;
    left: 27.6%;
    top: 45%;
    color: red;
  }

  /* line 267, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_link {
    font-size: 150%;
    position: fixed;
    color: red;
    width: 4%;
    left: 27%;
    top: 45%;
  }
  /* line 275, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_all {
    width: 14%;
    left: 9.2%;
    top: 45%;
  }

  /* line 281, ../../sass/wiki_block/wiki_block.scss */
  div.wiki_class_popap img {
    right: 70%;
    top: 45%;
  }

  /* line 285, ../../sass/wiki_block/wiki_block.scss */
  a.title-wiki-block-popap div.popap-wiki {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }
  /* line 289, ../../sass/wiki_block/wiki_block.scss */
  a.title-wiki-block-popap div.popap-wiki a {
    color: #337ab7;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }
  /* line 294, ../../sass/wiki_block/wiki_block.scss */
  a.title-wiki-block-popap div.popap-wiki a:hover {
    color: #23527c;
    text-decoration: underline;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }

  /* line 53, ../../sass/wiki_block/wiki_block.scss */
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /* line 308, ../../sass/wiki_block/wiki_block.scss */
  div.title-wiki-block a {
    color: #9ea03d;
    text-decoration: none;
    font-size: 170%;
    background: #fff;
    margin-left: -4px;
  }

  /* line 315, ../../sass/wiki_block/wiki_block.scss */
  hr.wiki_img_hr {
    margin-top: -2.8%;
    height: 2px;
    color: #9ea03d;
    background-color: #9ea03d;
  }

  /* line 322, ../../sass/wiki_block/wiki_block.scss */
  div.research-topics-title-and-text {
    border-color: #DCDCDC !important;
    border: 1px solid;
    margin-top: 12px;
  }
  /* line 327, ../../sass/wiki_block/wiki_block.scss */
  div.art-rel-list {
    padding: 0 25px 15px 25px;
  }
  /* line 330, ../../sass/wiki_block/wiki_block.scss */
  div.research-topics-title-and-text {
    width: 90%;
    margin-left: 5%;
  }
  /* line 334, ../../sass/wiki_block/wiki_block.scss */
  div.url_img_wiki {
    width: 50%;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
  }

  /* line 342, ../../sass/wiki_block/wiki_block.scss */
  a.class_all {
    width: 15%;
    left: 60%;
    top: 15%;
    color: red;
    font-size: 150%;
    position: fixed;
  }
  /* line 350, ../../sass/wiki_block/wiki_block.scss */
  a.class_link {
    font-size: 150%;
    position: fixed;
    width: 3%;
    left: 76.6%;
    top: 15%;
    color: red;
  }

  /* line 360, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_link {
    font-size: 150%;
    position: fixed;
    color: red;
    width: 4%;
    left: 77%;
    top: 15%;
  }
  /* line 368, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_all {
    width: 14%;
    left: 59.2%;
    top: 15%;
  }

  /* line 374, ../../sass/wiki_block/wiki_block.scss */
  div.wiki_class_popap img {
    width: 60% !important;
    right: 20%;
    top: 15%;
  }

  /* line 379, ../../sass/wiki_block/wiki_block.scss */
  a.title-wiki-block-popap div.popap-wiki {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }
  /* line 383, ../../sass/wiki_block/wiki_block.scss */
  a.title-wiki-block-popap div.popap-wiki a {
    color: #337ab7;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }
  /* line 388, ../../sass/wiki_block/wiki_block.scss */
  a.title-wiki-block-popap div.popap-wiki a:hover {
    color: #23527c;
    text-decoration: underline;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }

  /* line 53, ../../sass/wiki_block/wiki_block.scss */
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  /* line 402, ../../sass/wiki_block/wiki_block.scss */
  div.title-wiki-block a {
    color: #9ea03d;
    text-decoration: none;
    font-size: 170%;
    background: #fff;
    margin-left: -4px;
  }

  /* line 409, ../../sass/wiki_block/wiki_block.scss */
  hr.wiki_img_hr {
    margin-top: -2.8%;
    height: 2px;
    color: #9ea03d;
    background-color: #9ea03d;
  }

  /* line 416, ../../sass/wiki_block/wiki_block.scss */
  div.research-topics-title-and-text {
    border-color: #DCDCDC !important;
    border: 1px solid;
    margin-top: 12px;
  }
  /* line 421, ../../sass/wiki_block/wiki_block.scss */
  div.art-rel-list {
    padding: 0 25px 15px 25px;
  }
  /* line 424, ../../sass/wiki_block/wiki_block.scss */
  div.research-topics-title-and-text {
    width: 90%;
    margin-left: 5%;
  }
  /* line 428, ../../sass/wiki_block/wiki_block.scss */
  div.url_img_wiki {
    width: 100%;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
  }

  /* line 436, ../../sass/wiki_block/wiki_block.scss */
  a.class_all {
    width: 25%;
    left: 48%;
    top: 5%;
    color: red;
    font-size: 150%;
    position: fixed;
  }
  /* line 444, ../../sass/wiki_block/wiki_block.scss */
  a.class_link {
    font-size: 150%;
    position: fixed;
    width: 3%;
    left: 77.6%;
    top: 5%;
    color: red;
  }

  /* line 454, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_link {
    font-size: 150%;
    position: fixed;
    color: red;
    width: 4%;
    left: 75%;
    top: 15%;
  }
  /* line 462, ../../sass/wiki_block/wiki_block.scss */
  .url_img_wiki a.class_all {
    width: 27%;
    left: 48%;
    top: 15%;
  }

  /* line 468, ../../sass/wiki_block/wiki_block.scss */
  div.mw-parser-output div.wiki_class_popap img {
    width: 300px !important;
    right: 17%;
    top: 5%;
  }

  /* line 473, ../../sass/wiki_block/wiki_block.scss */
  a.title-wiki-block-popap div.popap-wiki {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }
  /* line 477, ../../sass/wiki_block/wiki_block.scss */
  a.title-wiki-block-popap div.popap-wiki a {
    color: #337ab7;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }
  /* line 482, ../../sass/wiki_block/wiki_block.scss */
  a.title-wiki-block-popap div.popap-wiki a:hover {
    color: #23527c;
    text-decoration: underline;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }

  /* line 53, ../../sass/wiki_block/wiki_block.scss */
}
