a.view-home-page-fetured {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px;
  text-decoration: none;
  div {
    &.title_wiki {
      color: black;
      font-weight: bold;
    }
    &.img_wiki {
      padding-right: 20px;
      img {
        border: solid white 8px;
        border-image: url(/sites/default/files/2019-02/stamp_border-8f88b7335a523ea2a3d9df840d39a22617cae5a93b24f67ae9e149992ab6a64a.jpg) 28;
        border-image-repeat: round;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  section.row-controller {
    width: 200%;
  }
  div.view-featured-page div.view-header h2 {
    font-size: 60px;
  }
  #block-views-block-featured-block-featured-block {
    width: 180%;
    h2.block-title {
      font-size: 400%;
    }
    img {
      width: 100%;
    }
    div.title_wiki {
      font-size: 220%;
    }
  }
  a.view-home-page-fetured div.img_wiki img {
    width: 600px;
  }
}
