div.wiki_img_block img {
    width: 200px;
}
.class_link {
    position: fixed;
    left: 89%;
    bottom: 76%;
    color: rgb(201, 26, 26);
    font-size: 170%;
    text-decoration: none;
}
.class_all {
    position: fixed;
    left: 87.2%;
    bottom: 65%;
    color: rgb(201, 26, 26);
    font-size: 170%;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    text-decoration: none;
}
@media only screen and (max-width: 1366px) {
    .class_link {
        position: fixed;
        left: 88.5%;
        bottom: 74%;
        color: rgb(201, 26, 26);
        font-size: 170%;
        text-decoration: none;
    }
    .class_all {
        position: fixed;
        left: 86%;
        bottom: 55%;
        color: rgb(201, 26, 26);
        font-size: 170%;
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        text-decoration: none;
    }
}
