div.wiki_img_block img {
    width: 200px;
}
.class_link {
    position: fixed;
    left: 89%;
    bottom: 82%;
    color: rgb(201, 26, 26);
    font-size: 170%;
    text-decoration: none;
}
.class_all {
    position: fixed;
    left: 87.2%;
    bottom: 71%;
    color: rgb(201, 26, 26);
    font-size: 170%;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    text-decoration: none;
}
.class_popap {
    max-height: 650px;
}
div.left-img {
    float: left;
    max-width: 200px;
    margin-left: 10%;
    clear: both;
}
div.left-img img, div.right-img img {
    border: solid white 8px;
    border-image: url(/sites/default/files/2019-02/stamp_border-8f88b7335a523ea2a3d9df840d39a22617cae5a93b24f67ae9e149992ab6a64a.jpg) 28;
    border-image-repeat: round;
}
div.right-img {
    float: right;
    max-width: 200px;
    margin-right: 10%;
}
span.title_img-wiki {
    float: left;
}
div.title-wiki-block {
    clear: both;
}
div.title-wiki-block hr {
    position: relative;
    top: -30px;
    z-index: -1;
    border-top: 1px solid #0d0d0d;
    margin-bottom: 0px;
}
.title-wiki-block a {
    background-color: #fff;
}
.title-wiki-block a.title-wiki-block-popap {
    margin-left: 10px;
}
div.description-wiki-block {
    margin-top: -20px;
}
@media only screen and (max-width: 1366px) {
    .class_popap {
        max-height: 500px;
    }
    .class_link {
        position: fixed;
        left: 88.5%;
        bottom: 80%;
        color: rgb(201, 26, 26);
        font-size: 170%;
        text-decoration: none;
    }
    .class_all {
        position: fixed;
        left: 86%;
        bottom: 65%;
        color: rgb(201, 26, 26);
        font-size: 170%;
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        text-decoration: none;
    }
}
