/* line 1, ../sass/style.scss */

html {
  overflow-x: hidden !important;
}

body {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
/* Large desktops */
@media (min-width: 1400px) {
  html {
    overflow-x: hidden !important;
  }

  body {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }

  body {
    overflow-x: hidden !important;
    overflow-y: hidden;
  }
  #block-wikisearchblock {
    position: relative !important;
    bottom: 10px !important;
    left: 10% !important;
  }
  div.form-wiki-search svg {
    position: relative !important;
    left: 237% !important;
    top: 23px !important;
  }
  #wiki-search-article input {
    width: 250% !important;
  }
  #block-views-block-top-lists-top-lists div {
    &.form-group, &.views-field.views-field-name {
      padding-left: 5% !important;
    }
  }
  #block-wikivisuallyhomeblock-2, #block-sharethis {
    margin-top: 0.6% !important;
  }
  #block-views-block-top-lists-top-lists h3.field-content a, a.view-home-page-fetured div.title_wiki {
    margin-left: 10px !important;
  }
  #block-wikivisually-theme-youtubechannelblock #youtube-block {
    li {
      height: 140px !important;
    }
    div.right-stat {
      top: -130px !important;
      font-size: large !important;
    }
  }
}

/* Large laptops */
@media (min-width: 1200px) {
  html {
    overflow-x: hidden !important;
  }

  body {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }
  div.region.region-header {
    background: #1565c0;
  }
  #block-wikivisuallyhomeblock-3 {
    display: none;
  }
  #block-mainnavigation-2, #block-wikivisually-theme-main-menu, #block-wikivisuallyhomeblock-2, #block-sharethis, #block-wikisearchblock {
    display: inline-block;
  }
  #block-mainnavigation-2 ul, #block-wikivisually-theme-main-menu ul {
    width: auto;
  }
  #block-mainnavigation-2 li, #block-wikivisually-theme-main-menu li {
    display: inline-block;
  }
  #block-mainnavigation-2 a:hover, #block-wikivisually-theme-main-menu a:hover {
    text-decoration: none;
    background-color: #00000000;
    color: #F90;
  }
  #block-mainnavigation-2 a, #block-wikivisually-theme-main-menu a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
  }
  #block-wikivisually-theme-views-block-headers-menu-links-block-1 {
    margin-bottom: 5px;
  }
  #block-views-block-top-lists-top-lists {
    box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.14), 2px 1px 10px 0 rgba(0, 0, 0, 0.12), 2px 2px 4px -1px rgba(0, 0, 0, 0.2);
    h2.block-title {
      border-bottom: 1px solid #aaaaa9;
      padding-bottom: 20px;
      padding-left: 20px;
    }
  }
  div.taxonomy-block-none {
    display: none;
  }
  #block-wikivisuallyhomeblock div {
    &.wikivisually_home {
      width: 130%;
    }
    &.title_wikivisually_home {
      display: inline-block;
      margin-right: 1%;
    }
    &.wikivisually_home a {
      font-size: 25px;
      color: black;
      text-decoration: none;
      font-weight: bold;
    }
    &.description_wikivisually_home {
      display: inline-block;
      width: 70%;
    }
  }
  #block-wikivisuallyhomeblock-2 {
    color: #F90;
    vertical-align: top;
    margin-left: 5%;
    margin-top: 0.9%;
  }
  #block-sharethis {
    vertical-align: top;
    margin-left: 15%;
    margin-top: 0.9%;
  }
  #block-wikisearchblock {
    position: relative;
    bottom: 10px;
    left: 5%;
  }
  div.form-wiki-search svg {
    position: relative;
    left: 117%;
    top: 23px;
  }
  #wiki-search-article input {
    width: 130%;
  }
  #block-views-block-top-lists-top-lists div {
    &.form-group, &.views-field.views-field-name {
      padding-left: 1%;
    }
    &.views-row {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      padding: 5px;
    }
  }
  #block-views-block-home-block-home-block div.views-row a.view-home-block, a.view-home-page-fetured {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
    text-decoration: none;
  }
  #block-views-block-top-lists-top-lists h3.field-content a, a.view-home-page-fetured div.title_wiki {
    color: black;
    text-decoration: none;
  }
  #block-views-block-home-block-home-block div.views-row a.view-home-block div.img_wiki img, a.view-home-page-fetured div.img_wiki img, img.img-search, div.url_img_wiki img {
    border: solid white 8px;
    border-image: url(/sites/default/files/2019-02/stamp_border-8f88b7335a523ea2a3d9df840d39a22617cae5a93b24f67ae9e149992ab6a64a.jpg) 28;
    border-image-repeat: round;
  }
  #block-views-block-home-block-home-block h2 {
    &.block-title, &.views-block-how-more {
      text-align: center;
      font-weight: bold;
    }
  }
  #block-wikivisually-theme-youtubechannelblock h2.block-title, #block-views-block-featured-block-featured-block h2.block-title, #block-youtubesearchblock h2.block-title, #block-wikichannelblock h2.block-title {
    text-align: center;
    font-weight: bold;
  }
  #block-views-block-home-block-home-block {
    h2.block-title a {
      color: black;
    }
    div {
      &.views-row a.view-home-block {
        color: black;
        text-decoration: none;
        font-size: x-large;
      }
      &.title_wiki {
        margin-left: 10px;
      }
    }
  }
  #youtube-block ul {
    list-style-type: none;
  }
  #block-wikivisually-theme-youtubechannelblock #youtube-block li {
    height: 90px;
  }
  #youtube-block img {
    width: 30%;
    margin-left: 2%;
  }
  #block-wikivisually-theme-youtubechannelblock #youtube-block div.right-stat {
    position: relative;
    left: 35%;
    top: -90px;
    width: 40%;
    font-size: small;
  }
  div.views-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    overflow-x: hidden !important;
  }

  body {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }
  div.region.region-header {
    background: #1565c0;
  }
  #block-wikivisuallyhomeblock-3 {
    display: none;
  }
  #block-mainnavigation-2, #block-wikivisually-theme-main-menu, #block-wikivisuallyhomeblock-2, #block-sharethis, #block-wikisearchblock {
    display: inline-block;
  }
  #block-mainnavigation-2 ul, #block-wikivisually-theme-main-menu ul {
    width: auto;
  }
  #block-mainnavigation-2 li, #block-wikivisually-theme-main-menu li {
    display: inline-block;
  }
  #block-mainnavigation-2 a:hover, #block-wikivisually-theme-main-menu a:hover {
    text-decoration: none;
    background-color: #00000000;
    color: #F90;
  }
  #block-mainnavigation-2 a, #block-wikivisually-theme-main-menu a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
  }
  #block-wikivisually-theme-views-block-headers-menu-links-block-1 {
    margin-bottom: 5px;
  }
  #block-views-block-top-lists-top-lists {
    box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.14), 2px 1px 10px 0 rgba(0, 0, 0, 0.12), 2px 2px 4px -1px rgba(0, 0, 0, 0.2);
    h2.block-title {
      border-bottom: 1px solid #aaaaa9;
      padding-bottom: 20px;
      padding-left: 20px;
    }
  }
  div.taxonomy-block-none {
    display: none;
  }
  #block-wikivisuallyhomeblock div {
    &.wikivisually_home {
      width: 130%;
      a {
        font-size: 25px;
        color: black;
        text-decoration: none;
        font-weight: bold;
      }
    }
    &.title_wikivisually_home {
      display: inline-block;
      margin-right: 1%;
    }
    &.description_wikivisually_home {
      display: inline-block;
      width: 70%;
    }
  }
  #block-wikivisuallyhomeblock-2 {
    color: #F90;
    vertical-align: top;
    margin-top: 1.3%;
  }
  #block-sharethis {
    vertical-align: top;
    margin-top: 1%;
  }
  div.form-wiki-search svg {
    position: relative;
    left: 117%;
    top: 23px;
  }
  #wiki-search-article input {
    width: 130%;
  }
  #block-views-block-top-lists-top-lists div {
    &.form-group, &.views-field.views-field-name {
      padding-left: 1%;
    }
  }
  #block-wikisearchblock {
    position: relative;
    bottom: 10px;
    left: 2%;
  }
  #block-views-block-top-lists-top-lists div.views-row, #block-views-block-home-block-home-block div.views-row a.view-home-block, a.view-home-page-fetured {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
    text-decoration: none;
  }
  #block-views-block-top-lists-top-lists h3.field-content a, a.view-home-page-fetured div.title_wiki {
    color: black;
    text-decoration: none;
    margin-left: 10px;
  }
  #block-views-block-home-block-home-block h2 {
    &.block-title, &.views-block-how-more {
      text-align: center;
      font-weight: bold;
    }
  }
  #block-wikivisually-theme-youtubechannelblock h2.block-title, #block-views-block-featured-block-featured-block h2.block-title, #block-youtubesearchblock h2.block-title, #block-wikichannelblock h2.block-title {
    text-align: center;
    font-weight: bold;
  }
  #block-views-block-home-block-home-block {
    h2.block-title a {
      color: black;
    }
    div.views-row a.view-home-block div.img_wiki img {
      border: solid white 8px;
      border-image: url(/sites/default/files/2019-02/stamp_border-8f88b7335a523ea2a3d9df840d39a22617cae5a93b24f67ae9e149992ab6a64a.jpg) 28;
      border-image-repeat: round;
    }
  }
  a.view-home-page-fetured div.img_wiki img, img.img-search, div.url_img_wiki img {
    border: solid white 8px;
    border-image: url(/sites/default/files/2019-02/stamp_border-8f88b7335a523ea2a3d9df840d39a22617cae5a93b24f67ae9e149992ab6a64a.jpg) 28;
    border-image-repeat: round;
  }
  #block-views-block-home-block-home-block div {
    &.title_wiki {
      margin-left: 10px;
    }
    &.views-row a.view-home-block {
      color: black;
      text-decoration: none;
      font-size: x-large;
    }
  }
  #youtube-block ul {
    list-style-type: none;
  }
  #block-wikivisually-theme-youtubechannelblock #youtube-block li {
    height: 290px;
  }
  #youtube-block img {
    width: 30%;
    margin-left: 2%;
  }
  #block-wikivisually-theme-youtubechannelblock #youtube-block div.right-stat {
    position: relative;
    left: 35%;
    top: -190px;
    width: 40%;
    font-size: x-large;
  }
  div.views-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    overflow-x: hidden !important;
  }

  body {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }
  div.region.region-header {
    background: #1565c0;
  }
  #block-wikivisuallyhomeblock-2 {
    display: none;
  }
  #block-mainnavigation-2, #block-wikivisually-theme-main-menu, #block-wikivisuallyhomeblock-3, #block-sharethis #block-mainnavigation-2 ul, #block-wikivisually-theme-main-menu ul {
    width: auto;
  }
  #block-mainnavigation-2 li, #block-wikivisually-theme-main-menu li, #block-wikisearchblock, #block-sharethis {
    display: inline-block;
  }
  #block-wikisearchblock {
    margin-left: 5%;
  }
  #block-sharethis {
    margin-left: 15%;
    margin-right: 15%;
  }
  #block-mainnavigation-2 a:hover, #block-wikivisually-theme-main-menu a:hover {
    text-decoration: none;
    background-color: #00000000;
    color: #F90;
  }
  #block-mainnavigation-2 a, #block-wikivisually-theme-main-menu a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
  }
  #block-wikivisuallyhomeblock-3 {
    color: #F90;
    margin-left: 50%;
  }
  #wiki-search-article input {
    width: 200%;
  }
  #block-wikivisuallyhomeblock-3 div.description_wikivisually_home {
    font-size: 150%;
    margin-left: 10px;
  }
  #block-wikivisually-theme-views-block-headers-menu-links-block-1 {
    margin-bottom: 5px;
  }
  #block-views-block-top-lists-top-lists {
    box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.14), 2px 1px 10px 0 rgba(0, 0, 0, 0.12), 2px 2px 4px -1px rgba(0, 0, 0, 0.2);
    h2.block-title {
      border-bottom: 1px solid #aaaaa9;
      padding-bottom: 20px;
      padding-left: 20px;
    }
  }
  div {
    &.taxonomy-block-none {
      display: none;
    }
    &.form-wiki-search svg {
      position: relative;
      left: 186%;
      top: 23px;
    }
  }
  #block-wikivisuallyhomeblock div {
    &.title_wikivisually_home {
      display: inline-block;
      margin-right: 1%;
    }
    &.wikivisually_home a {
      font-size: 25px;
      color: black;
      text-decoration: none;
      font-weight: bold;
    }
    &.description_wikivisually_home {
      display: inline-block;
      width: 70%;
    }
  }
  #block-views-block-top-lists-top-lists div.views-row, #block-views-block-home-block-home-block div.views-row a.view-home-block, a.view-home-page-fetured {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
    text-decoration: none;
  }
  #block-views-block-top-lists-top-lists {
    div {
      &.form-group, &.views-field.views-field-name {
        padding-left: 2%;
      }
    }
    h3.field-content a {
      color: black;
      text-decoration: none;
      margin-left: 10px;
    }
  }
  a.view-home-page-fetured div.title_wiki {
    color: black;
    text-decoration: none;
    margin-left: 10px;
  }
  #block-views-block-home-block-home-block h2 {
    &.block-title, &.views-block-how-more {
      text-align: center;
      font-weight: bold;
    }
  }
  #block-wikivisually-theme-youtubechannelblock h2.block-title, #block-views-block-featured-block-featured-block h2.block-title, #block-youtubesearchblock h2.block-title, #block-wikichannelblock h2.block-title {
    text-align: center;
    font-weight: bold;
  }
  #block-views-block-home-block-home-block {
    h2.block-title a {
      color: black;
    }
    div.views-row a.view-home-block div.img_wiki img {
      border: solid white 8px;
      border-image: url(/sites/default/files/2019-02/stamp_border-8f88b7335a523ea2a3d9df840d39a22617cae5a93b24f67ae9e149992ab6a64a.jpg) 28;
      border-image-repeat: round;
    }
  }
  a.view-home-page-fetured div.img_wiki img, img.img-search, div.url_img_wiki img {
    border: solid white 8px;
    border-image: url(/sites/default/files/2019-02/stamp_border-8f88b7335a523ea2a3d9df840d39a22617cae5a93b24f67ae9e149992ab6a64a.jpg) 28;
    border-image-repeat: round;
  }
  #block-views-block-home-block-home-block div {
    &.views-row a.view-home-block {
      color: black;
      text-decoration: none;
      font-weight: bold;
      font-size: x-large;
    }
    &.title_wiki {
      margin-left: 10px;
    }
  }
  #youtube-block {
    img {
      width: 40%;
    }
    ul {
      list-style-type: none;
    }
  }
  #block-wikivisually-theme-youtubechannelblock #youtube-block {
    div.right-stat {
      position: relative;
      left: 45%;
      top: -190px;
      width: 40%;
      font-size: x-large;
    }
    li {
      height: 290px;
    }
  }
  div.views-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    overflow-x: hidden !important;
  }

  body {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }
  div.region.region-header {
    background: #1565c0;
  }
  #block-wikivisuallyhomeblock-2 {
    display: none;
  }
  #block-mainnavigation-2, #block-wikivisually-theme-main-menu, #block-wikivisuallyhomeblock-3, #block-sharethis {
    display: inline-block;
  }
  #block-mainnavigation-2 ul, #block-wikivisually-theme-main-menu ul {
    width: auto;
  }
  #block-mainnavigation-2 li, #block-wikivisually-theme-main-menu li {
    display: inline-block;
  }
  #block-mainnavigation-2 a:hover, #block-wikivisually-theme-main-menu a:hover {
    text-decoration: none;
    background-color: #00000000;
    color: #F90;
  }
  #block-mainnavigation-2 a, #block-wikivisually-theme-main-menu a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
  }
  #block-mainnavigation-2 li.first a, #block-wikivisually-theme-main-menu li.first a {
    margin-left: 40px;
  }
  #block-wikivisuallyhomeblock-3 {
    background: #F90;
    color: white;
    display: -webkit-box;
    height: 30px;
  }
  #wiki-search-article input {
    width: 100%;
  }
  #block-wikivisuallyhomeblock-3 div.description_wikivisually_home {
    font-size: 150%;
    margin-left: 40px;
  }
  #block-wikivisuallyhomeblock div {
    &.title_wikivisually_home {
      display: inline-block;
    }
    &.description_wikivisually_home {
      display: inline-block;
      width: 70%;
    }
    &.wikivisually_home a {
      font-size: 25px;
      color: black;
      text-decoration: none;
      font-weight: bold;
    }
  }
  #block-views-block-home-block-home-block div.views-row a.view-home-block {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  #block-wikivisually-theme-views-block-headers-menu-links-block-1 {
    margin-bottom: 5px;
  }
  #block-views-block-top-lists-top-lists {
    box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.14), 2px 1px 10px 0 rgba(0, 0, 0, 0.12), 2px 2px 4px -1px rgba(0, 0, 0, 0.2);
    h2.block-title {
      border-bottom: 1px solid #aaaaa9;
      padding-bottom: 20px;
      padding-left: 20px;
    }
    div.views-row {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      padding: 5px;
    }
  }
  #block-views-block-home-block-home-block div.views-row a.view-home-block, a.view-home-page-fetured {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
    text-decoration: none;
  }
  #block-views-block-home-block-home-block div.title_wiki {
    margin-left: 10px;
  }
  #block-views-block-top-lists-top-lists h3.field-content a, a.view-home-page-fetured div.title_wiki {
    color: black;
    text-decoration: none;
    margin-left: 10px;
  }
  #block-views-block-home-block-home-block div.views-row a.view-home-block div.img_wiki img, a.view-home-page-fetured div.img_wiki img {
    border: solid white 8px;
    border-image: url(/sites/default/files/2019-02/stamp_border-8f88b7335a523ea2a3d9df840d39a22617cae5a93b24f67ae9e149992ab6a64a.jpg) 28;
    border-image-repeat: round;
  }
  div {
    &.url_img_wiki img {
      border: solid white 8px;
      border-image: url(/sites/default/files/2019-02/stamp_border-8f88b7335a523ea2a3d9df840d39a22617cae5a93b24f67ae9e149992ab6a64a.jpg) 28;
      border-image-repeat: round;
    }
    &.taxonomy-block-none {
      display: none;
    }
  }
  #block-sharethis {
    position: relative;
    left: 65%;
    top: -28px;
  }
  #block-wikisearchblock {
    display: block;
    position: relative;
    top: -20px;
  }
  div.form-wiki-search svg {
    position: relative;
    left: 96%;
    top: 25px;
  }
  #block-views-block-home-block-home-block h2 {
    &.block-title, &.views-block-how-more {
      text-align: center;
      font-weight: bold;
    }
  }
  #block-wikivisually-theme-youtubechannelblock h2.block-title, #block-views-block-featured-block-featured-block h2.block-title, #block-youtubesearchblock h2.block-title, #block-wikichannelblock h2.block-title {
    text-align: center;
    font-weight: bold;
  }
  #block-views-block-home-block-home-block {
    h2.block-title a {
      color: black;
    }
    div.views-row a.view-home-block div.img_wiki img {
      border: solid white 8px;
      border-image: url(/sites/default/files/2019-02/stamp_border-8f88b7335a523ea2a3d9df840d39a22617cae5a93b24f67ae9e149992ab6a64a.jpg) 28;
      border-image-repeat: round;
    }
  }
  a.view-home-page-fetured div.img_wiki img, img.img-search {
    border: solid white 8px;
    border-image: url(/sites/default/files/2019-02/stamp_border-8f88b7335a523ea2a3d9df840d39a22617cae5a93b24f67ae9e149992ab6a64a.jpg) 28;
    border-image-repeat: round;
  }
  #youtube-block ul {
    list-style-type: none;
  }
  #block-wikivisually-theme-youtubechannelblock #youtube-block li {
    height: 270px;
  }
  #youtube-block img {
    width: 50%;
  }
  #block-wikivisually-theme-youtubechannelblock #youtube-block div.right-stat {
    position: relative;
    left: 55%;
    top: -130px;
    width: 40%;
    font-size: small;
  }
  div.taxonomy-block-none {
    display: none;
  }
  div.views-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  html {
    overflow-x: hidden !important;
  }

  body {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }
  div.region.region-header {
    background: #1565c0;
  }
  #block-wikivisuallyhomeblock-2 {
    display: none;
  }
  #block-mainnavigation-2, #block-wikivisually-theme-main-menu, #block-wikivisuallyhomeblock-3 {
    display: inline-block;
  }
  #block-sharethis {
    display: inline-block;
    position: relative;
    left: 65%;
    top: -28px;
  }
  #block-wikisearchblock {
    display: block;
    position: relative;
    top: -20px;
  }
  #block-mainnavigation-2 ul, #block-wikivisually-theme-main-menu ul {
    width: auto;
  }
  #block-mainnavigation-2 li, #block-wikivisually-theme-main-menu li {
    display: inline-block;
  }
  #block-mainnavigation-2 a:hover, #block-wikivisually-theme-main-menu a:hover {
    text-decoration: none;
    background-color: #00000000;
    color: #F90;
  }
  #block-mainnavigation-2 a, #block-wikivisually-theme-main-menu a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
  }
  #block-mainnavigation-2 li.first a, #block-wikivisually-theme-main-menu li.first a {
    margin-left: 20px;
  }
  #block-wikivisuallyhomeblock-3 {
    background: #F90;
    color: white;
    display: -webkit-box;
    height: 30px;
    div.description_wikivisually_home {
      font-size: 100%;
      margin-left: 10px;
      margin-top: 3%;
    }
  }
  #wiki-search-article input {
    width: 100%;
  }
  #block-wikivisuallyhomeblock div.title_wikivisually_home a, #block-views-block-home-block-home-block div.views-row a.view-home-block {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  div.form-wiki-search svg {
    position: relative;
    left: 93%;
    top: 25px;
  }
  #block-wikivisually-theme-views-block-headers-menu-links-block-1 {
    margin-bottom: 5px;
  }
  #block-views-block-top-lists-top-lists {
    box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.14), 2px 1px 10px 0 rgba(0, 0, 0, 0.12), 2px 2px 4px -1px rgba(0, 0, 0, 0.2);
    h2.block-title {
      border-bottom: 1px solid #aaaaa9;
      padding-bottom: 20px;
      padding-left: 20px;
    }
    div.views-row {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      padding: 5px;
    }
  }
  #block-views-block-home-block-home-block div.views-row a.view-home-block, a.view-home-page-fetured {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
    text-decoration: none;
  }
  #block-views-block-home-block-home-block div.title_wiki {
    margin-left: 10px;
  }
  #block-views-block-top-lists-top-lists h3.field-content a, a.view-home-page-fetured div.title_wiki {
    color: black;
    text-decoration: none;
    margin-left: 10px;
  }
  #block-views-block-home-block-home-block h2 {
    &.block-title, &.views-block-how-more {
      text-align: center;
      font-weight: bold;
    }
  }
  #block-wikivisually-theme-youtubechannelblock h2.block-title, #block-views-block-featured-block-featured-block h2.block-title, #block-youtubesearchblock h2.block-title, #block-wikichannelblock h2.block-title {
    text-align: center;
    font-weight: bold;
  }
  #block-views-block-home-block-home-block {
    h2.block-title a {
      color: black;
    }
    div.views-row a.view-home-block div.img_wiki img {
      border: solid white 8px;
      border-image: url(/sites/default/files/2019-02/stamp_border-8f88b7335a523ea2a3d9df840d39a22617cae5a93b24f67ae9e149992ab6a64a.jpg) 28;
      border-image-repeat: round;
    }
  }
  a.view-home-page-fetured div.img_wiki img, img.img-search, div.url_img_wiki img {
    border: solid white 8px;
    border-image: url(/sites/default/files/2019-02/stamp_border-8f88b7335a523ea2a3d9df840d39a22617cae5a93b24f67ae9e149992ab6a64a.jpg) 28;
    border-image-repeat: round;
  }
  #youtube-block ul {
    list-style-type: none;
  }
  #block-wikivisually-theme-youtubechannelblock #youtube-block li {
    height: 140px;
  }
  #youtube-block img {
    width: 50%;
  }
  #block-wikivisually-theme-youtubechannelblock #youtube-block div.right-stat {
    position: relative;
    left: 55%;
    top: -130px;
    width: 40%;
    font-size: small;
  }
  div.taxonomy-block-none {
    display: none;
  }
  div.view-featured-page div.views-row {
    display: grid;
    width: 150%!important;
  }
  section.block-views-blockfeatured-block-featured-block div.views-row {
    display: grid;
    width: 150%!important;
  }
}

@media (max-width: 320px) {
  html {
    overflow-x: hidden !important;
  }

  body {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }
  #block-mainnavigation-2 li.first a, #block-wikivisually-theme-main-menu li.first a {
    margin-left: 0px;
  }
  #block-wikivisually-theme-youtubechannelblock #youtube-block {
    li {
      height: 110px;
    }
    div.right-stat {
      top: -110px;
    }
  }
}
