section.row-controller {
  width: 75%; }

div.row {
  max-width: 92%; }
div.region.region-header {
  background: #1565c0;
  height: 50px;
  width: 110.6%; }
div.region.region-content {
  padding-left: 30px; }
div.page_search_wiki h2, div.region.region-content div.page_search_wiki h2 {
  color: #9ea03d; }

#block-wikivisuallyhomeblock-2 {
  display: inline-block;
  margin-top: 14px;
  font-size: 0.8vw;
  color: #F90; }

li.first a, li.last a {
  font-size: 0.8vw;
  color: white; }
li.first a:hover, li.last a:hover {
  color: #F90; }

#block-sharethis {
  display: inline-block; }

#block-wikisearchblock {
  display: inline-block;
  margin-right: 15%;
  float: right; }

h2.views-block-how-more {
  text-align: center; }

#block-mainnavigation-2 .nav > li > a:hover {
  background-color: #eeeeee00; }

#wiki-search-article {
  margin-top: -9px; }
  #wiki-search-article input {
    width: 200%;
    background: #fff; }

div.form-wiki-search svg {
  position: relative;
  left: 188%;
  top: 13px; }

#block-wikivisuallyhomeblock {
  margin-bottom: 10px; }

div.view-display-id-block_1 {
  margin-bottom: 10px; }
  div.view-display-id-block_1 div.col-2 img.img-responsive {
    margin-left: 2px; }
  div.view-display-id-block_1 div.col-3 img.img-responsive {
    margin-left: 4px; }
  div.view-display-id-block_1 div.col-4 img.img-responsive {
    margin-left: 6px; }
  div.view-display-id-block_1 div.col-5 img.img-responsive {
    margin-left: 8px; }

#block-wikivisuallyhomeblock-2 {
  margin-left: 5%; }

#block-sharethis {
  margin-left: 12%; }

#block-wikivisuallyhomeblock div.wikivisually_home {
  width: 120%; }
#block-wikivisuallyhomeblock div.title_wikivisually_home {
  display: inline-block;
  float: left;
  margin: 4px 13px 8px 5px;
  font-size: 21px; }
  #block-wikivisuallyhomeblock div.title_wikivisually_home a {
    color: black;
    text-decoration: none;
    font-weight: bold; }
#block-wikivisuallyhomeblock div.wikivisually_home div.description_wikivisually_home {
  display: inline-block;
  width: 290px; }

#block-views-block-top-lists-top-lists {
  box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.14), 2px 1px 10px 0 rgba(0, 0, 0, 0.12), 2px 2px 4px -1px rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  width: 70%; }
  #block-views-block-top-lists-top-lists h2.block-title {
    border-bottom: 1px solid #aaaaa9;
    padding-bottom: 20px;
    margin-left: -20px;
    padding-left: 20px; }
  #block-views-block-top-lists-top-lists div.views-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px; }
    #block-views-block-top-lists-top-lists div.views-row:hover {
      background: #d9d9d9; }
  #block-views-block-top-lists-top-lists h3.field-content a {
    font-size: 70%;
    color: black;
    text-decoration: none; }

#block-views-block-home-block-home-block div.views-row a.view-home-block {
  font-size: 70%;
  color: black;
  text-decoration: none; }
  #block-views-block-home-block-home-block div.views-row a.view-home-block div.title_wiki {
    font-size: 200%; }

#block-views-block-top-lists-top-lists img.img-responsive {
  padding-right: 20px; }

#block-views-block-home-block-home-block h2.block-title a {
  color: black;
  font-weight: bold; }
#block-views-block-home-block-home-block div.views-row a.view-home-block {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px; }
  #block-views-block-home-block-home-block div.views-row a.view-home-block div.img_wiki {
    padding-right: 20px; }
    #block-views-block-home-block-home-block div.views-row a.view-home-block div.img_wiki img {
      border: solid white 8px;
      border-image: url(/sites/default/files/2019-02/stamp_border-8f88b7335a523ea2a3d9df840d39a22617cae5a93b24f67ae9e149992ab6a64a.jpg) 28;
      border-image-repeat: round; }

#block-wikivisuallyhomeblock-3 {
  display: none; }

@media only screen and (max-width: 1366px) {
  section.row-controller {
    width: 70%; }

  #block-views-block-top-lists-top-lists {
    width: 100%; }

  #block-wikisearchblock {
    margin-right: 17%; }

  div.row {
    max-width: 93%; }

  #block-wikivisuallyhomeblock-2 {
    margin-top: 18px; }

  div.region.region-header {
    background: #1565c0;
    height: 50px;
    width: 110%; }

  #block-wikivisuallyhomeblock-3 {
    display: none; } }
@media only screen and (max-width: 1199px) {
  html {
    width: 85%; }

  section.row-controller {
    width: 50%; }

  div.height-row {
    height: 90px;
    width: 133%; }
  div.region-content {
    width: 170%; }

  aside.trending {
    margin-left: 15px; }

  #block-views-block-top-lists-top-lists h3.field-content a {
    font-size: 70%; }

  #block-mainnavigation-2 {
    display: grid; }

  #block-wikisearchblock {
    margin-right: 25%;
    position: relative;
    bottom: 90px; }

  #block-wikivisually-theme-youtubechannelblock {
    width: 160%; }

  div.row {
    max-width: 94%; }
  div.region.region-header {
    background: #1565c0;
    height: 50px;
    width: 130%; }

  li.first a, li.last a {
    font-size: 2vw;
    color: white; }

  #block-wikivisuallyhomeblock-2 {
    display: none; }

  #block-wikivisuallyhomeblock-3 {
    padding-left: 1.5%;
    display: grid;
    background: #f3801b;
    color: white;
    font-size: 30px; }

  #block-sharethis {
    position: relative;
    display: inline-block;
    left: 55%;
    bottom: 33px; }

  div.view-display-id-block_1 div.col-2 img.img-responsive {
    margin-left: -7%; }
  div.view-display-id-block_1 div.col-3 img.img-responsive {
    margin-left: -14%; }
  div.view-display-id-block_1 div.col-4 img.img-responsive {
    margin-left: -21%; }
  div.view-display-id-block_1 div.col-5 img.img-responsive {
    margin-left: -28%; }

  aside.top_list {
    width: 50%;
    margin-bottom: 200%; } }
@media only screen and (max-width: 768px) {
  #block-wikisearchblock {
    margin-right: 26%; }

  #block-wikivisually-theme-youtubechannelblock {
    width: 160%; }

  div.view-display-id-block_1 div.col-2 img.img-responsive {
    margin-left: -3%; }
  div.view-display-id-block_1 div.col-3 img.img-responsive {
    margin-left: -2%; }
  div.view-display-id-block_1 div.col-4 img.img-responsive {
    margin-left: -1%; }
  div.view-display-id-block_1 div.col-5 img.img-responsive {
    margin-left: 0%; }

  section.row-controller {
    width: 110%; }

  a.view-home-page-fetured div.title_wiki {
    font-size: 250%; }

  div.row {
    max-width: 90%; }
  div.region.region-header {
    width: 300%; }
  div.height-row {
    width: 166%;
    height: 100px; }

  aside.top_list {
    width: 60%;
    margin-bottom: 0px; }

  #block-wikivisuallyhomeblock {
    width: 150%; }
    #block-wikivisuallyhomeblock div.title_wikivisually_home {
      font-size: 70px; }
    #block-wikivisuallyhomeblock div.description_wikivisually_home {
      font-size: 40px; }
    #block-wikivisuallyhomeblock div.wikivisually_home div.description_wikivisually_home {
      width: 850px; }

  #block-wikivisually-theme-views-block-headers-menu-links-block-1 {
    width: 260%; }
    #block-wikivisually-theme-views-block-headers-menu-links-block-1 img.img-responsive {
      width: 100%; }

  #block-mainnavigation-2 {
    height: 50px; }

  #block-wikivisuallyhomeblock-3 {
    font-size: 35px; }

  #block-wikisearchblock {
    left: 21%;
    margin-right: 39%;
    width: 15%;
    top: -100px; }

  #block-sharethis {
    bottom: 27px; }

  #block-views-block-home-block-home-block {
    width: 180%; }
    #block-views-block-home-block-home-block h2.block-title a {
      font-size: 40px; }
    #block-views-block-home-block-home-block div.img_wiki img {
      width: 400px; }
    #block-views-block-home-block-home-block div.views-row a.view-home-block div.title_wiki {
      font-size: 450%; }

  #block-wikivisually-theme-youtubechannelblock {
    width: 300%; }
    #block-wikivisually-theme-youtubechannelblock h2.block-title {
      text-align: center;
      font-size: 40px; }
    #block-wikivisually-theme-youtubechannelblock img {
      width: 400px;
      height: 250px !important; }
    #block-wikivisually-theme-youtubechannelblock div.right-stat, #block-wikivisually-theme-youtubechannelblock div#youtube-block div.youtube-stat {
      font-size: 30px !important; }

  h2.views-block-how-more a {
    font-size: 160%; }

  li.first {
    margin-left: 1%;
    display: inline-block; }
  li.last {
    display: inline-block; }
  li.first a, li.last a {
    font-size: 6vw; }

  #block-views-block-top-lists-top-lists {
    width: 880%; }
    #block-views-block-top-lists-top-lists h2.block-title {
      font-size: 60px; }
    #block-views-block-top-lists-top-lists h3.field-content a {
      font-size: 200%; }
    #block-views-block-top-lists-top-lists img.img-responsive {
      width: 300px; } }

/*# sourceMappingURL=style.css.map */
