/* Large desktops and laptops */
@media (min-width: 1200px) {
  /* line 4, ../../sass/search_page/search_page.scss */
  div.page_search_wiki a.title-search {
    color: #9ea03d;
    text-decoration: none;
  }
  /* line 8, ../../sass/search_page/search_page.scss */
  div.one_block_search_inf {
    display: flex;
    align-items: center;
  }
  /* line 13, ../../sass/search_page/search_page.scss */
  div.page_search_wiki hr.one_percent, div.page_search_wiki hr.two_percent {
    margin-top: 5%;
    height: 2px;
    color: #9ea03d;
    background-color: #9ea03d;
  }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 26, ../../sass/search_page/search_page.scss */
  div.page_search_wiki a.title-search {
    color: #9ea03d;
    text-decoration: none;
  }
  /* line 30, ../../sass/search_page/search_page.scss */
  div.one_block_search_inf {
    display: flex;
    align-items: center;
  }
  /* line 35, ../../sass/search_page/search_page.scss */
  div.page_search_wiki hr.one_percent, div.page_search_wiki hr.two_percent {
    margin-top: 5%;
    height: 2px;
    color: #9ea03d;
    background-color: #9ea03d;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  /* line 48, ../../sass/search_page/search_page.scss */
  div.page_search_wiki a.title-search {
    color: #9ea03d;
    text-decoration: none;
  }
  /* line 52, ../../sass/search_page/search_page.scss */
  div.one_block_search_inf {
    display: flex;
    align-items: center;
  }
  /* line 57, ../../sass/search_page/search_page.scss */
  div.page_search_wiki hr.one_percent, div.page_search_wiki hr.two_percent {
    margin-top: 5%;
    height: 2px;
    color: #9ea03d;
    background-color: #9ea03d;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /* line 70, ../../sass/search_page/search_page.scss */
  div.page_search_wiki a.title-search {
    color: #9ea03d;
    text-decoration: none;
  }
  /* line 74, ../../sass/search_page/search_page.scss */
  div.one_block_search_inf {
    display: flex;
    align-items: center;
  }
  /* line 79, ../../sass/search_page/search_page.scss */
  div.page_search_wiki hr.one_percent, div.page_search_wiki hr.two_percent {
    margin-top: 5%;
    height: 2px;
    color: #9ea03d;
    background-color: #9ea03d;
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  /* line 92, ../../sass/search_page/search_page.scss */
  div.page_search_wiki a.title-search {
    color: #9ea03d;
    text-decoration: none;
  }
  /* line 96, ../../sass/search_page/search_page.scss */
  div.one_block_search_inf {
    display: flex;
    align-items: center;
  }
  /* line 101, ../../sass/search_page/search_page.scss */
  div.page_search_wiki hr.one_percent, div.page_search_wiki hr.two_percent {
    margin-top: 5%;
    height: 2px;
    color: #9ea03d;
    background-color: #9ea03d;
  }
}
